@charset "UTF-8";

.adminFormDesign {
 width:1100px;	
}

.tableDesign {
	padding:initial !important;
	font-size:14px !important;
}

.errorFontDesign {
	font-size: 11px !important;
    color: red;	
}

.pcdataAddThDesign {
	background: #55e852;
	width:175px;
}

.pcdataAddTdDesign {
	background: #a8ecb1;
	width:375px;
}

.productAddBtnDesign {
	margin-left:500px;
}

button.btn-radius-solidProductAdd {
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #ceffd8 0%, #5cec72 100%);
}

button.btn-radius-solidProductAdd:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #ceffd8 0%, #5cec72 100%);
}
