@charset "UTF-8";

.administratorThDesign {
	background: rgb(10 10 10/ 25%);
}

.administratorTdDesign {
	background: rgb(10 10 10/ 9%);
}

.administratorTableDesign {
	font-size: 14px;
	width: 1100px;
}

.administratorTopTableDesign {
	font-size: 14px;
	width: 1100px;
	margin: 15px 0px;
}

.administratorUser {
	width: 200px;
}

.administratorTitle {
	width: 150px;
}

.administratorContent {
	width: 350px;
}

.administratorDate {
	width: 160px;
}

.administratorDetail {
	width: 140px;
}

.administratorTable {
	display: block;
	overflow-y: scroll;
	height: 445px;
	width: 1118px;
}

a.btn-radius-solid {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}

a.btn-radius-solid:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}

a.btn-radius-solidProductAdd {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #ceffd8 0%, #5cec72 100%);
}

a.btn-radius-solidProductAdd:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #ceffd8 0%, #5cec72 100%);
}

a.btn-radius-solidNewsAdd {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #90b8fb 0%, #5a75f9 100%);
}

a.btn-radius-solidNewsAdd:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #90b8fb 0%, #5a75f9 100%);
}

a.btn-radius-solidCouponAdd {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #ffb4b4 0%, #ff3737 100%);
}

a.btn-radius-solidCouponAdd:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #ffb4b4 0%, #ff3737 100%);
}

a.btn-radius-solidPointRate {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #fb9a47 0%, #e48c1f 100%);
}

a.btn-radius-solidPointRate:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #fb9a47 0%, #e48c1f 100%);
}

a.btn-radius-solidDeliveryCheck {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #d797d5 0%, #f847fb 100%);
}

a.btn-radius-solidDeliveryCheck:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #d797d5 0%, #f847fb 100%);
}

a.btn-radius-solidCancelCheck {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #84fff4 0%, #00adff 100%);
}

a.btn-radius-solidCancelCheck:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #84fff4 0%, #00adff 100%);
}

a.btn-radius-solidInterChangeProductManagement {
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to bottom, #d797d5 0%, #f847fb 100%);
}

a.btn-radius-solidInterChangeProductManagement:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#f1e767),
		to(#feb645));
	background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to top, #d797d5 0%, #f847fb 100%);
}

/**/
a.btnAdministrator-border {
	padding: 0px 4px;
	margin: 0px 3px;
	-webkit-transform: skew(-15deg);
	transform: skew(-15deg);
	color: #fff;
	border: 3px solid #fff;
	border-radius: 0;
	background: #908282;
}

a.btnAdministrator-border:hover:before {
	top: -3px;
	background: #000;
}

a.btnAdministrator-border:hover:after {
	bottom: -3px;
	background: #000;
}

a.btnAdministrator-border:hover {
	-webkit-transform: skew(-5deg);
	transform: skew(-5deg);
	color: #fff;
}