@charset "UTF-8";

.after_purchaseTableDesign {
	font-size: 19px;
    margin: 61px 0px 0px 153px;
}

.after_purchaseTableDesign2 {
	font-size: 18px;
    margin: 20px 0px 0px 155px;
}

.h2 {
	margin-top:25px;
}
