@charset "UTF-8";

.after_purchaseTableDesign {
	font-size: 19px;
    margin: 34px 0px 0px 153px;
}

.after_purchaseTableDesign2 {
	font-size: 18px;
    margin: 20px 0px 0px 155px;
    padding-left: 114px;
}

.h2 {
	margin-top:25px;
}

.fontDesign {
	font-size:25px;
	margin-top: 25px;
}

.afterPurchaseList {
	display: block;
    overflow-y: scroll;
    height: 230px;
   
}

.af_PuProductListBtn {
	margin-top: 32px;
    margin-left: 416px;
    font-size: 21px !important;	
}

a.btnAfPu-gradient {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

a.btnAfPu-gradient:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}