@charset "UTF-8";

.auctionProductDetail-table {
	margin-left: 284px !important;
    font-size: 15px;
}
	
.auctionProductDetail-wrapper {
	font-size: 10px !important;
}

.tender-detail-text {
	padding-left: 175px;
}

.auctionProductDetail-check {
	margin-bottom: 0px !important;
}