@charset "UTF-8";

.canDetaResultDesign {
	color:red !important;
}

.cancelDetailThDesign {
	background:#ff6c73;
}

.cancelDetailTdDesign {
	background:#ffbcbf;
}

.calcelDetailTableDesign {
	font-size:14px;
}

.cancelDetailThNextDesign {
	font-size:14px;
}

.cancelDetailErrorDesign {
	font-size:15px;
}

.btn-wrapper {
  padding: 20px;
  text-align: center;
}

.check-box {
  margin-bottom: 20px;
}

.check {
  display: none;
}

.check + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 2em;
  position: relative;
}

.check + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.3em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3em;
}

.check + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  content: "";
  display: block;
  height: 0.6em;
  left: 1%;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

.check:checked + span::after {
  opacity: 1;
}