@charset "UTF-8";

.cancelDeliveryCompleteTableDesign {
	font-size:14px;
}

.cancelDeliveryCompleteThDesign {
	background:#ff6c73;
}

.cancelDeliveryCompleteTdDesign {
	background:#ffbcbf;
}

.cancelDeliveryCompleteNextThDesign {
	
}

.cancelDeliveryCompleteNextTdDesign {
	
}