@charset "UTF-8";

.form-control-lg {
	width: 1100px !important;
}

.cancelNextThDesign {
	background: #ff6c73;
}

.cancelNextTdDesign {
	background: #ffbcbf;
}

.cancelNextTableDesign {
	font-size: 14px;
}

.cancelNextErrorDesign {
	font-size: 18px;
}