@charset "UTF-8";

.canDetaResultDesign {
	color:red !important;
}

.cancelDetailThDesign {
	background:#ff6c73;
}

.cancelDetailTdDesign {
	background:#ffbcbf;
}

.calcelDetailTableDesign {
	font-size:14px;
}

.cancelDetailThNextDesign {
	font-size:14px;
}