@charset "UTF-8";

.fontdesign {
	font-size: 11px;
	margin-bottom: 0px!important;
}

.font {
	font-size: 15px !important;
}

.formdesign {
	margin-bottom: 2px !important;
}

.deleteBtn {
	/*margin-left:23px !important;*/
	font-size: 11px !important;
}

.updateBtn {
	/*margin-left:25px !important;*/
	font-size: 12px !important;
}

.cartList {
	display: auto;
	overflow-y: scroll;
	height: 393px;
}

.cartPrice {
	margin-left: 111px;
	font-size: 20px !important;
}

.cartPrice2 {
	font-size: 20px !important;
}

.productListBtn {
	font-size: 23px !important;
}

.clearingBtn {
	font-size: 23px !important;
	margin-left: 24px;
}

.textDesign1 {
	padding-top: 15px !important;
}

.textDesign2 {
	font-size: 20px;
	width: 161px;
	padding-top: 15px !important;
}

.delteBtnMargin {
	margin-left: 21px !important;
}

.cartDesign {
	color: red;
	padding-left: 194px;
	font-size: 15px;
}

.detailGoCart {
	padding-left: 49px;
}

a.btn--orange, button.btn--orange {
	color: #a9ff82;
	background-color: #eb6100;
	border-bottom: 5px solid #b84c00;
}

a.btn--orange:hover, button.btn--orange:hover {
	margin-top: 3px;
	color: #69d837;
	background: #f56500;
	border-bottom: 2px solid #b84c00;
}

a.btn--shadow, button.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/*___________________________________________________*/
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

button.btn2 {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #cffe81;
	border-radius: 0.5rem;
}

.btn-radius-gradient-wrap {
	display: inline-block;
	padding: 0.5rem;
	border-radius: 100vh;
	background: #f2f5f6;
	background: -webkit-linear-gradient(to top, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6),
		color-stop(37%, #e3eaed), to(#96a1a5));
	background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);
	background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6',
		endColorstr='#96a1a5', GradientType=0);
}

bottom.btn-radius-gradient {
	border-radius: 100vh;
	background: #e3eaed;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3eaed),
		to(#f2f5f6));
	background: -webkit-linear-gradient(top, #e3eaed 0%, #f2f5f6 100%);
	background: linear-gradient(to bottom, #e3eaed 0%, #f2f5f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eaed',
		endColorstr='#f2f5f6', GradientType=0);
}

bottom.btn-radius-gradient:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}