@charset "UTF-8";


.productSize {
	width: 135px !important;
	height: 135px !important;
	margin-left: 60px;
}

.productDetailLync {
	padding-left: 52px;
}


.productDetailDesigin {
	font-size: 13px;
	padding-left: 32px;
}

.flex {
	display: flex !important;
	flex-wrap: wrap !important;
	widht: 30%;
	hegth: 20%;
	margin-right: 60px !important;
}

.cardDesign {
	margin-left:55px;
	width: 295px !important;
}

.challengeProgrammingList {
	display: auto !important;
	overflow-y: scroll;
	height: 526px;
	margin-right: 60px;
}



