@charset "UTF-8";

.th1 {
	width: 300px;
}

.th2 {
	width: 700px;
}

.th3 {
	width: 100px;
}

.inquiryTr1 {
	background: #8cc3f3;
}

.inquiryTr2 {
	background: #c1e1fd;
}

.inquiryReplyTr1 {
	background: #ff8a8a;
}

.inquiryReplyTr2 {
	background: #f9b3b3;
}

.contactReplyTable {
	font-size: 16px;
}

.contactReplyTableScrollBar {
	display: block;
	overflow-y: scroll;
	height: 525px;
	width: 1100px;
}