@charset "UTF-8";

.couponSeeTable {
	display: block;
	overflow-y: scroll;
	height: 464px;
	font-size: 12px;
	width: 1100px;
}

.couponSeeAboutTh {
	width: 233px;
	background: #f7eb64;
}

.couponSeeAboutTd {
	width: 1020px;
	background: #fffdb8
}

.couponSeeAboutTable {
	font-size: 15px;
}

a.btnCouS--orange.btnCouS--border-solid {
	border: 2px solid #213fd4;
}

.couponSeeLink {
	font-size: 13px !important;
	background: #cce8f9;
}

.couponSeeTd {
	padding-left: 218px;
}

.couponSeeName {
	width: 700px;
}

.couponSeeDisCount {
	width: 120px;
}

.couponSeeRegistration_date {
	width: 120px;
}

.couponSeeDetail {
	width: 120px;
}