@charset "UTF-8";

.currentDayTradingQrCode {
	width: 185px;
    height: 185px;
    margin-left: 400px;
}

a.currentDayTrading-btn-rounded {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 50%;
  background: #fcfff4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fcfff4),
    color-stop(40%, #dfe5d7),
    to(#b3bead)
  );
  background: -webkit-linear-gradient(
    top,
    #fcfff4 0%,
    #dfe5d7 40%,
    #b3bead 100%
  );
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #f0ffcb 100%);
  -webkit-box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
    0 6px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
    0 6px 10px rgba(0, 0, 0, 0.2);
}

a.currentDayTrading-btn-rounded i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.currentDayTrading-btn-rounded:hover {
  -webkit-box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
    0 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
    0 3px 7px rgba(0, 0, 0, 0.2);
}

a.currentDayTrading-btn-rounded:hover i {
  bottom: 6px;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}