@charset "UTF-8";

.gachaSize {
	width: 400px !important;
    height: 400px !important;
    margin-left: 330px;
}

.dailyGacha-table {
	margin: 30px 0px 0px 307px;
}

button.dailyGacha-btn-border {
 
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

button.dailyGacha-btn-border {
  margin-bottom: 12px;
  padding: 0;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0;
}

button.dailyGacha-btn-border span {
  position: relative;

  display: block;

  padding: 1.25rem 3rem;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

button.dailyGacha-btn-border:before {
  position: absolute;
  bottom: -8px;
  left: 0;

  display: block;

  width: 100%;
  height: 14px;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

button.dailyGacha-btn-border:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}

button.dailyGacha-btn-border:hover:before {
  bottom: -5px;
}

button.dailyGacha-btn-border:active {
  -webkit-transform: translate(0, 7px);
  transform: translate(0, 7px);
}

button.dailyGacha-btn-border:active:before {
  bottom: -1px;
}