@charset "UTF-8";

.dailyGachaPointInterchange-productDetailLync {
	padding-left: 70px;
}

.dailyGachaPointInterchange-h4 {
	margin-bottom: 0pxpx !important;
    margin-left: 38px;
}

.dailyGachaPointInterchange-p {
	margin-bottom: 0pxpx !important;
    margin-left: 38px;
}

.productDetailDesigin-New {
	font-size: 13px;

}

