@charset "UTF-8";





.rank1 {
	color: #b3b1ba;
}

.rank2 {
	color: #9c942f;
}

.rank3 {
	color: #915e3c;
}

.rank4 {
	color: #b3b1ba;
}

.rank5 {
	color: #9c942f;
}

.userInfoTableDesign {
	font-size:14px;
}

.editYourThDesign {
	background:#7bf1cb;
}

.editYourTdDesign {
	background: #defdf3;
}

.userPurchaseInfoTableDesign {
	font-size:16px;
}

.userRankTableDesign {
	font-size:16px;
}

.rankIconDesign {
	font-size:50px !important;
}
