@charset "UTF-8";

.evaluationListScroll {
	display: block;
	overflow-y: scroll;
	height: 534px;
	font-size:14px;
	width:1100px;
}

.evaluationTeacherNameDesign {
	width:200px;
}

.evaluationUserNameDesign {
	width:190px;
}

.evaluationRateDesign {
	width:110px
}

.evaluationEvaluationDesign {
	width:400px;
}

.evaluationregistrationDateDesign {
	width:200px;
}

.evaluationListBackColorTop {
	background: #83c5ff;
}

.evaluationListBackColorButtom {
	background: #dcefff;
}