@charset "UTF-8";

.fa-size {
	/*font-size: 20px;*/
}
.fa-spin {
	font-size: 33px !important;
	    color: #16ff33;
}
    

.fa {
	font-size:21px;
	padding-right: 10px;
}

.fa-eye {
	font-size:18px !Important;
}