@charset "UTF-8";

.inquiryFinishTableDesign {
	font-size: 14px;
	width: 1100px;
}

.inquiryFinishThTitle {
	background: #ff6c73;
	width:300px;
}

.inquiryFinishThContent {
	background: #ff6c73;
	width:800px;
}

.inquiryFinishTdTitle {
	background: #ffbcbf;
	width:300px;
}

.inquiryFinishTdContent {
	background: #ffbcbf;
	width:800px;
}

.btnInquiryFinish-gradient {
	margin-left: 474px;
}

/**/
a.btnInquiryFinish-gradient {
	-webkit-transform: skew(-15deg);
	transform: skew(-15deg);
	color: #fff;
	border-radius: 0;
	background-image: -webkit-gradient(linear, left top, right top, from(#2af598),
		to(#009efd));
	background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
	background-image: linear-gradient(90deg, #ff3302 0%, #ffa995 100%);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

a.btnInquiryFinish-gradient:hover {
	-webkit-transform: skew(0);
	transform: skew(0);
	color: #fff;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}