@charset "UTF-8";


.inquiryFinishTableDesign {
	font-size:14px;
}

.inquiryFinishThTitle {
	background: #ff6c73;	
}

.inquiryFinishThContent {
		background: #ff6c73;	
}

.inquiryFinishTdTitle {
	background: #ffbcbf;
}

.inquiryFinishTdContent {
	background: #ffbcbf;
}