@charset "UTF-8";

.headerDesign {
	background: #094479;
}

.navbar {
	padding:0px !important;
}

.nav-sidebar {
	height: 570px;
	/*background: #73abda;
	display: list-item !important; /*flexが効いてるのでSidebarのアイテムが均等な幅になっている*/
}

.sidebar {
	    background: #73abda !important;
}

.topBtn {
	margin-top: 67px !important;
}

.desiginBtn {

	margin-bottom:15px;
	width:197px;
}

.titleDesign {
	color: #1e0fff99;
    font-family: system-ui;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

.btn, a.btn, button.btn {
	font-size: 1.6rem !important;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

a.btn-gradient {
	font-weight: normal;
	color: #fff;
	border-radius: 0;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #ff3cac),
		to(#562b7c));
	background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
	background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
}

a.btn-gradient:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background-image: -webkit-gradient(linear, left top, right top, from(#ff3cac),
		color-stop(#562b7c), to(#2b86c5));
	background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);
	background-image: linear-gradient(90deg, #3b268e, #6b84b1, #a3d2f3);
}

a.btn-gradient span {
	position: relative;
	z-index: 1;
}

a.btn-gradient:hover {
	color: #fff;
}

a.btn-gradient:hover:after {
	opacity: 0;
}


a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.loginGoBtn {
	color:#dcdcdc !important; 
	font-size: 18px;
}

.jpeg {
	background-size: 467px;
}