@charset "UTF-8";

.newsThDesign {
	background: #ecef51;
}

.newsTdDesign {
	background: #fafbba;
}

.newsTableDesign {
	display: auto;
	overflow-y: scroll;
	height: 534px;
	font-size:13px;
	width:1100px;
}

.newsDesignTitle {
	width:425px;
}

.newsDesignContent {
	width:485px;
}

.newsDesignDate {
	width:140px;
}

.adminNewsDesignTitle {
	width:320px;
}

.adminNewsDesignContent {
	width:540px;
}

.adminNewsDesignDate {
	width:140px;
}

.adminNewsDesignMane {
	width:60px;
}

.newsAddThDesign {
    background: #665cff;
    font-size:14px;
}  

 
.newsAddTdDesign {
	background: #b0b3fb;
	font-size:14px;
}

.newsAddBtnDesign {
	margin-left:500px;
}

.newsAddTableDesign {
	width:1100px;
}

button.btn-radius-solidNewsAdd {
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #b6bcf9 0%, #264afb 100%);
}

button.btn-radius-solidNewsAdd:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #b6bcf9 0%, #264afb 100%);
}
