@charset "UTF-8";

.privacyPolicy {
	display: block;
	overflow-y: scroll;
	height: 469px;
	font-size:13px !important;
}

.priPoliThColor {
	background: #e0a47a;	
}

.priPoliTdColor {
	background: #ffe5d2;	
}

