@charset "UTF-8";

.size {
	width:135px !important;
	height:135px !important;
	margin-left:25px;
}

.productListGo {
	padding-left:48px;
}

.font {
	font-size:10px important;
}

.DetailRyncDesigin {
	font-size:13px;
}

.flex {
  display: flex !important;
  flex-wrap: wrap !important;
  widht:30%;
  hegth:20%;
}

.flex .item {
	width:20%;
}

.productList {
	display: auto;
	overflow-y: scroll;
	height: 526px;
}

.fontdesign {
	font-size:15px ;
}

