@charset "UTF-8";

.usersListDetailThColor {
	    background: #7cc2ff;
}

.usersListDetailTdColor {
	background: #cee8ff;
}

button.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

button.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 5px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #000;
}

button.btn-border:hover {
  color: #fff;
  background: #000;
}

button.btn-border:hover:before {
  background: #fff;
}


.usersListDetailBtnDesign {
	margin-left:490px;
}
