@charset "UTF-8";

.btnDesign {
	font-size:13px !important;
}

.usersListDesign {
	font-size:13px !important;
	width:1100px;
}

.usersListThColor {
	    background: #7cc2ff;
}

.usersListTdColor {
	background: #cee8ff;
}

a.btn--green.btn--border-groove {
  border: 6px groove #008039;
  background: aquamarine;
}

a.btn--pink.btn--border-ridge {
  border: 6px ridge #e53b4e;
      background: #ffd2d6;
}