<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="loginLayout_contents">
		<div class="col-sm-10">
			<div class="page-header">
				<h1 class="titleDesign">アプリ詳細</h1>
			</div>


			<table class="table table-bordered appDetailTableDesign">

				<tr>
					<th class="applicatonDetailThDesign"
						>推奨OS</th>
					<td class="applicatonDetailTdDesign"
						>Windows,macOS,Linux</td>
				</tr>
				
				<tr>
					<th class="applicatonDetailThDesign">推奨プラットフォーム</th>
					<td class="applicatonDetailTdDesign">GoogleChrome,MicrosoftEdge</td>
				</tr>

				<tr>
					<th class="applicatonDetailThDesign">料金</th>
					<td class="applicatonDetailTdDesign">無料</td>
				</tr>

				<tr>
					<th class="applicatonDetailThDesign">version</th>
					<td class="applicatonDetailTdDesign">1.0</td>
				</tr>

				<tr>
					<th class="applicatonDetailThDesign">versionUpdateに伴う機能</th>
					<td class="applicatonDetailTdDesign">なし</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>

