<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="loginLayout_contents">
	<div class="col-sm-10">
		<div class="page-header">
			<h1 class="titleDesign">アプリ詳細</h1>
		</div>
		
		
		<table
				class="table table-bordered appTableDesign">
		
	<tr>
		<th class="applicatonDetailTh1a" style="background-color: #eee;">推奨プラットフォーム</th>
		<td class="applicatonDetailTd1a" style="background-color: #eee;">GoogleChromeを推奨してます</td>
	</tr>

	<tr>
		<th class="applicatonDetailTh1a" style="background-color: aliceblue;">利用に伴う料金</th>
		<td class="applicatonDetailTd1a" style="background-color: aliceblue;">一律無料でお使いいただけます</td>
	</tr>

	<tr>
		<th class="applicatonDetailTh1a" style="background-color: #eee;">version</th>
		<td class="applicatonDetailTd1a" style="background-color: #eee;">1.0</td>
	</tr>

	<tr>
		<th class="applicatonDetailTh1a" style="background-color: aliceblue;">versionUpdateに伴う機能</th>
		<td class="applicatonDetailTd1a" style="background-color: aliceblue;">なし</td>
	</tr>
	</table>
	</div>
	</div>
</body>
</html>

