<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">オークション商品詳細</h1>
		</header>
		
		<form style="width: 1090px;" th:each="auctiondatadto : ${auctionDataDTOList}"
			method="post" th:action="@{/productTender}"
			th:object="${auctionTenderForm}">
			<input type="hidden" name="id" th:value="${auctiondatadto.id}">
			<table class="table table-bordered productDetailTableDesigin">
				<tr class="pcdataTableDesigna">
					<th class="text-center padding">会社名</th>
					<th class="text-center padding">OS</th>
					<th class="text-center padding">商品名</th>
					<th class="text-center padding">在庫数</th>
				</tr>
				<tr th:each="auctiondatadto : ${auctionDataDTOList}">
					<td class="text-center padding" th:text="${auctiondatadto.company}"></td>
					<td class="text-center padding" th:text="${auctiondatadto.os}"></td>
					<td class="text-center padding" th:text="${auctiondatadto.productName}"></td>
					<td class="text-center padding"
						th:text="${auctiondatadto.productStock} + '個'"></td>
				</tr>
			</table>

			<table class="table table-bordered productDetailTableDesigin">
				<tr class="pcdataDetailTableDesigna">
					<th class="text-center padding">商品詳細説明</th>
				</tr>
				<tr th:each="auctiondatadto : ${auctionDataDTOList}"
					class="pcdataDetailTableDesignb">
					<td class="text-center padding" th:text="${auctiondatadto.detail}"></td>
				</tr>
			</table>

			<table class="table table-bordered imageTableDesign">
				<tr>
					<td style="padding-left: 120px;"
						th:each="auctiondatadto : ${auctionDataDTOList}"><img class="imgSize"
						th:src="${auctiondatadto.img}"> <img class="imgSize"
						th:src="${auctiondatadto.img2}">
				</tr>
			</table>
			
			<table class="table table-bordered productDetailTableDesigin">
				<tr class="pcdataTableDesigna">
					<th class="text-center padding">開始価格</th>
					<th class="text-center padding">現在入札価格</th>
					<th class="text-center padding">入札数</th>
				</tr>
				<tr th:each="auctiondatadto : ${auctionDataDTOList}">
					<td class="text-center padding" th:text="${auctiondatadto.initialPrice} + '円'"></td>
					<td th:if="${auctiondatadto.tenderPrice} != 0" class="text-center padding" th:text="${auctiondatadto.tenderPrice} + '円'"></td>
					<td th:if="${auctiondatadto.tenderPrice} == 0" class="text-center padding">入札者はいません</td>
					<td class="text-center padding" th:text="${auctiondatadto.tenderNumber} + '回'"></td>
				</tr>
			</table>
			
				<table 
					class="col-sm-5 auctionProductDetail-table table table-bordered table-hover cardTable">
					<h3 class="tender-detail-text">入札者がいない場合は開始価格以上、いる場合は入札価格より上の金額を指定できます</h3>
					<tr>
						<th class=" text-center">入札額</th>
						<td><input id="textField1" type="text"
					class="form-control text-center formDesign" name="tenderPrice"
					th:field="*{tenderPrice}"> <span
					class="text-danger" th:if="${#fields.hasErrors('tenderPrice')}"
					th:errors="*{tenderPrice}">tenderPrice error</span><span class="text-danger" th:text="${errorText}"></span></td>
					</tr>
				
				</table>
			
				
				<div class="btn-wrapper auctionProductDetail-wrapper">
					<br>
					<br>
					<div class="check-box auctionProductDetail-check">
						<label class="text-danger"><input class="check"
							type="checkbox" name="check" autocomplete="off" id="agree"><span
							class="confirmation_statement"><a></a>入力入札金額で落札が決まれば金額分の支払いを行うことに同意します</span></label>
					</div>
					<input class="submit clearing" type="submit" id="submit" value="入札" />
				</div>
		</form>
		
		<script>
			$(function() {

				$('.submit').attr('disabled', 'disabled');

				$('#agree').on('click', function() {
					if ($(this).prop('checked') == false) {
						$('.submit').attr('disabled', 'disabled');
					} else {
						$('.submit').removeAttr('disabled');
					}
				});

			});
		</script>
	</div>
	
</body>
</html>