<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancel</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
	
	<h1 class="titleDesign">キャンセル画面</h1>
	<div class="progress" style="width:1100px;">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
</div>
		<form method="post" th:action="@{/cancel}"
			th:object="${cancelForm}">
			<table class="table table-bordered cancelTableDesign"
				th:each="purchasedto : ${purchaseList}" style="width:1100px;">

				<tr class="cancelThDesign">
					<th class="text-center">購入日</th>
					<th class="text-center">商品名</th>
					<th class="text-center">支払い</th>
					<th class="text-center">購入数</th>
					<th class="text-center">メモリ</th>
					<th class="text-center">ハードディスク</th>
					<th class="text-center">CPU</th>
				</tr>

				<tr class="cancelTdDesign">
					<td class="text-center"
						th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
					<td class="text-center" th:text="${purchasedto.pcName}"></td>
					<td class="text-center" th:text="${totalPrice} + '円'"></td>
					<td class="text-center" th:text="${purchasedto.product_count} + '個'"></td>
					<td class="text-center" th:text="${purchasedto.memory}"></td>
					<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
					<td class="text-center" th:text="${purchasedto.cpu}"></td>
				</tr>
			</table>
			
		<table>
			<br>
			<h3>上記商品のキャンセルを行いたと思わせてしまい誠に申し訳ございません。この商品の何が気に入らなかったでしょうか？</h3>
			
			<tr>
			
			<br>
			<h3 th:text="${result}" class="text-danger"></h3>
			<br>
			<th class="text-center" style="font-size:20px;">理由選択</th>
					<td class="text-center" style="font-size:17px;"><select class="cancelSelect" th:field="*{title}">
					<option value="0">‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐</option>
							<option value="購入した商品画像と違うものだった">購入した商品画像と違うものだった</option>
							<option value="壊れた状態で送られてきた">壊れた状態で送られてきた</option>
							<option value="自分の気が変わった">自分の気が変わった</option>
							<option value="間違えて注文した">間違えて注文した</option>
							<option value="その他">その他</option>
					</select></td>
			</table>
			<div th:each="purchasedto : ${purchaseList}">
			<input type="hidden" name="id" th:value="${purchasedto.id}">
			<button class="btn btnCancel--red btnCancel--radius btnCancel--cubic cancelBtnDesign" name="cancelNext"><i>次へ</i></button>
			</div>
		</form>
	
	</div>
</body>
</html>