<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelDeliveredCompleted</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
	<h1 class="titleDesign">商品発送詳細</h1>
		<div class="progress" style="width: 1100px;">
			<div class="progress-bar progress-bar-striped" role="progressbar"
				style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
				aria-valuemax="100"></div>
		</div>


		<table class="table table-hover table-bordered"
			th:each="purchasedto : ${purchaseList}" style="width: 1100px;">
			<tr>
				<th class="text-center">購入日</th>
				<th class="text-center">商品名</th>
				<th class="text-center">値段</th>
				<th class="text-center">購入数</th>
				<th class="text-center">メモリ</th>
				<th class="text-center">ハードディスク</th>
				<th class="text-center">CPU</th>
			</tr>

			<tr>
				<td class="text-center"
					th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
				<td class="text-center" th:text="${purchasedto.pcName}"></td>
				<td class="text-center" th:text="${totalPrice}"></td>
				<td class="text-center" th:text="${purchasedto.product_count}"></td>
				<td class="text-center" th:text="${purchasedto.memory}"></td>
				<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
				<td class="text-center" th:text="${purchasedto.cpu}"></td>
			</tr>
		</table>

		<br>
		<h3>
			返品商品を発送ありがとうございます。商品管理室で返品商品が確認でき次第入力口座に返金いたします。
		</h3>

		<br><br><br>
		<h4>返品商品情報</h4>
		<ul class="progressbar" th:if="${deliveryInformation == '0.5'}" >
			<li class="active">引き受け</li>
			<li>目的地周辺郵便局へ発送準備中</li>
			<li>目的地周辺郵便局へ輸送中</li>
			<li>目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul class="progressbar" th:if="${deliveryInformation == '1'}">
			<li class="active">引き受け</li>
			<li class="active">目的地周辺郵便局へ発送準備中</li>
			<li>目的地周辺郵便局へ輸送中</li>
			<li>目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul class="progressbar" th:if="${deliveryInformation == '1.5'}">
			<li class="active">引き受け</li>
			<li class="active">目的地周辺郵便局へ発送準備中</li>
			<li class="active">目的地周辺郵便局へ輸送中</li>
			<li>目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul class="progressbar" th:if="${deliveryInformation == '2'}">
			<li class="active">引き受け</li>
			<li class="active">目的地周辺郵便局へ発送準備中</li>
			<li class="active">目的地周辺郵便局へ輸送中</li>
			<li class="active">目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul class="progressbar" th:if="${deliveryInformation == '2.5'}">
			<li class="active">引き受け</li>
			<li class="active">目的地周辺郵便局へ発送準備中</li>
			<li class="active">目的地周辺郵便局へ輸送中</li>
			<li class="active">目的地周辺郵便局へ到着</li>
			<li class="active">目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul class="progressbar" th:if="${deliveryInformation == '3'}">
			<li class="active">引き受け</li>
			<li class="active">目的地周辺郵便局へ発送準備中</li>
			<li class="active">目的地周辺郵便局へ輸送中</li>
			<li class="active">目的地周辺郵便局へ到着</li>
			<li class="active">目的地へ持ち出し中</li>
			<li class="active">目的地へ配達完了</li>
			
		<h3 th:if="${productConfirmation == '商品確認中'}">商品管理室へお届けが完了しました。商品確認ができるまでお待ちください。</h3>
		<div  th:if="${productConfirmation == '商品確認完了'}" th:each="purchasedto : ${purchaseList}"><h3  th:if="${productConfirmation == '商品確認完了'}">商品管理室へお届けが完了し、商品確認が取れましたので返金へ進むをクリックしてください。<br>自動でキャンセル時に入力した口座に返金されます。</h3>
		<a th:href="@{'/cancelEnd' + '/' + &{purchasedto.id}}">返金へ進む</a>
		</div>
		</ul>






	</div>
</body>
</html>