<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelCompleted</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">キャンセル完了</h1>
		<div class="progress">
			<div class="progress-bar progress-bar-striped" role="progressbar"
				style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
				aria-valuemax="100"></div>
		</div>

		<table class="table table-hover table-bordered cancelCompleted"
			th:each="purchasedto : ${purchaseList}">

			<tr class="cancelCompletedThDesign">
				<th class="text-center">購入日</th>
				<th class="text-center">商品名</th>
				<th class="text-center">支払い</th>
				<th class="text-center">購入数</th>
				<th class="text-center">メモリ</th>
				<th class="text-center">ハードディスク</th>
				<th class="text-center">CPU</th>
			</tr>

			<tr class="cancelCompletedTdDesign">
				<td class="text-center"
					th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
				<td class="text-center" th:text="${purchasedto.pcName}"></td>
				<td class="text-center" th:text="${totalPrice} + '円'"></td>
				<td class="text-center" th:text="${purchasedto.product_count}"></td>
				<td class="text-center" th:text="${purchasedto.memory}"></td>
				<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
				<td class="text-center" th:text="${purchasedto.cpu}"></td>
			</tr>
		</table>

		<table class="table table-bordered"
			th:if="${cancelCheck} != 'キャンセル完了'">
			<br>
			<h3>キャンセル手続きをしていただきありがとうございました。上記商品のキャンセルが完了しました。</h3>
			<tr>
				<br>
				<th class="text-center cancelCompletedThNextDesign"
					style="font-size: 20px;">返金金額</th>
				<td class="text-center cancelCompletedTdNextDesign"
					style="font-size: 17px;" th:text="${totalPrice} + '円'"></td>
			</tr>

			<tr>
				<br>
				<th class="text-center cancelCompletedThNextDesign"
					style="font-size: 20px;">返却利用ポイント</th>
				<td class="text-center cancelCompletedTdNextDesign"
					style="font-size: 17px;" th:text="${pointUse} + '円'"></td>
			</tr>

			<tr>
				<th class="text-center cancelCompletedThNextDesign"
					style="font-size: 20px;">返金口座番号</th>
				<td class="text-center cancelCompletedTdNextDesign"
					style="font-size: 17px;" th:text="${bankNumber}"></td>
			</tr>

			<tr>
				<th class="text-center cancelCompletedThNextDesign"
					style="font-size: 20px;">返金口座店舗番号</th>
				<td class="text-center cancelCompletedTdNextDesign"
					style="font-size: 17px;" th:text="${storeName}"></td>
			</tr>

		</table>

		<table class="table table-bordered"
			th:if="${cancelCheck} == 'キャンセル完了'" th:each="canceldto:${canceldto}">
			<br>
			<h3>キャンセル手続きをしていただきありがとうございました。上記商品のキャンセルが完了しました。</h3>
			<tr>
				<br>
				<th class="text-center" style="font-size: 20px;">返品金額</th>
				<td class="text-center" style="font-size: 17px;"
					th:text="${totalPrice}"></td>
			</tr>

			<tr>
				<th class="text-center" style="font-size: 20px;">返品口座番号</th>
				<td class="text-center" style="font-size: 17px;"
					th:text="${bankNumber}"></td>
			</tr>

			<tr>
				<th class="text-center" style="font-size: 20px;">返品口座店舗番号</th>
				<td class="text-center" style="font-size: 17px;"
					th:text="${storeName}"></td>
			</tr>

		</table>

		<h3>上記口座に返品金額分振込ました。</h3>
	</div>
</body>
</html>