<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelInquiry</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
	
	<h1 class="titleDesign">キャンセル期間外について</h1>
	
	<table class="table table-bordered cancelInquiryTableDesign"
			th:each="purchasedto : ${purchaseList}" style="width: 1100px;">
			<tr class="cancelInquiryThDesign">
				<th class="text-center">購入日</th>
				<th class="text-center">商品名</th>
				<th class="text-center">支払い</th>
				<th class="text-center">購入数</th>
				<th class="text-center">メモリ</th>
				<th class="text-center">ハードディスク</th>
				<th class="text-center">CPU</th>
			</tr>

			<tr class="cancelInquiryTdDesign">
				<td class="text-center"
					th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
				<td class="text-center" th:text="${purchasedto.pcName}"></td>
				<td class="text-center" th:text="${totalPrice} + '円'"></td>
				<td class="text-center" th:text="${purchasedto.product_count} + '個'"></td>
				<td class="text-center" th:text="${purchasedto.memory}"></td>
				<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
				<td class="text-center" th:text="${purchasedto.cpu}"></td>
			</tr>
		</table>

		<h3>上記の商品は購入日から10日間経過したため、キャンセル期間外となりました。ご了承ください。</h3>
	
		<a th:href="@{/purchaseHistory}" class="btn btnCancel--blue btnCancel--radius btnCancel--cubic cancelInquiryBtnDesign">商品購入履歴へ戻る</a>
	</div>
</body>
</html>