<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelDeliveryComplete</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">商品発送詳細</h1>
		<div class="progress" style="width: 1100px;">
			<div class="progress-bar progress-bar-striped" role="progressbar"
				style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
				aria-valuemax="100"></div>
		</div>


		<table class="table table-hover table-bordered"
			th:each="purchasedto : ${purchaseList}" style="width: 1100px;">
			<tr>
				<th class="text-center">購入日</th>
				<th class="text-center">商品名</th>
				<th class="text-center">値段</th>
				<th class="text-center">購入数</th>
				<th class="text-center">メモリ</th>
				<th class="text-center">ハードディスク</th>
				<th class="text-center">CPU</th>
			</tr>

			<tr>
				<td class="text-center"
					th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
				<td class="text-center" th:text="${purchasedto.pcName}"></td>
				<td class="text-center" th:text="${totalPrice}"></td>
				<td class="text-center" th:text="${purchasedto.product_count}"></td>
				<td class="text-center" th:text="${purchasedto.memory}"></td>
				<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
				<td class="text-center" th:text="${purchasedto.cpu}"></td>
			</tr>
		</table>

		<br>
		<h3>
			キャンセル手続き完了で、キャンセルを受け付けます。これからキャンセル期限までに商品を発送してください。<br> <span>※このページを再度表示するには購入履歴画面から、上記の商品の商品管理からキャンセル取引中をクリックしてください。</span>
		</h3>

		<br>
		<h4>発送に必要な詳細情報</h4>

		<table class="tabel table-bordered canDeliDetaTableDesign"
			style="width: 1000px;">

			<tr>
				<th>商品管理室住所</th>
				<td>大阪府枚方市丸山町1丁目2番3地号</td>
			</tr>

			<tr>
				<th>商品管理室郵便番号</th>
				<td>573-1111</td>
			</tr>

			<tr>
				<th>商品管理室電話番号</th>
				<td>090-1234-5678</td>
			</tr>
		</table>


		<br>
		<h4>
			発送が完了したあと下記に進んでください。<br> 発送をした場所を詳しく記載してください。(例 丸山宅急便枚方4番店舗
			コンビニエンスストア枚方1号店など)
		</h4>

		<form method="post" th:action="@{/cancelDeliveryComplete}"
			th:object="${cancelInTransactionForm}">
			<table>

				<tr>
					<th>発送場所</th>
					<td>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('deliveryAddress')} ? 'hasError'">
							<input type="text" class="form-control"
								th:field="*{deliveryAddress}">
						</div> <span class="text-danger"
						th:if="${#fields.hasErrors('deliveryAddress')}"
						th:errors="*{deliveryAddress}">deliveryAddress error</span>
					</td>
				</tr>
			</table>



			<div th:each="purchasedto : ${purchaseList}">
				<input type="hidden" name="id" th:value="${purchasedto.id}">
				<input type="hidden" name="customId"
					th:value="${purchasedto.custom_id}">
			<table>
				<tr>
				<td><button class="btn btn-primary" name="deliveredCompleted">発送完了</button></td>
				<td><button class="btn btn-primary" name="cancelDelete">キャンセル取り消し</button></td>
				</tr>
			</table>
			</div>
		</form>
	</div>

</body>
</html>