<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelConfirmation</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
<h1 class="titleDesign">キャンセル画面</h1>

<div class="progress">
  <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
		<form method="post" th:action="@{/cancel}"
			th:object="${cancelForm}">
			<br>
			<table class="table table-hover table-bordered"
				th:each="purchasedto : ${purchaseList}">

				<tr>
					<th class="text-center">購入日</th>
					<th class="text-center">商品名</th>
					<th class="text-center">値段</th>
					<th class="text-center">購入数</th>
					<th class="text-center">メモリ</th>
					<th class="text-center">ハードディスク</th>
					<th class="text-center">CPU</th>
				</tr>

				<tr>
					<td class="text-center"
						th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
					<td class="text-center" th:text="${purchasedto.pcName}"></td>
					<td class="text-center" th:text="${totalPrice}"></td>
					<td class="text-center" th:text="${purchasedto.product_count}"></td>
					<td class="text-center" th:text="${purchasedto.memory}"></td>
					<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
					<td class="text-center" th:text="${purchasedto.cpu}"></td>
				</tr>
			</table>
			
			
			<table>
			
			<tr>
			<th style="font-size:20px;">キャンセル理由:</th>
			<td th:text="${title}" style="font-size:17px;"></td>
			</tr>
			
			<tr>
			<th style="font-size:20px;">キャンセル理由詳細:</th>
			<td th:text="${content}" style="font-size:17px;"></td>
			</tr>
			</table>
			
			<br>
			<table>
			<tr>
			<th style="font-size:20px;">上記の理由によりキャンセルを行います</th>
			</tr>
			</table>
			<div th:each="purchasedto : ${purchaseList}">
			<input type="hidden" name="id" th:value="${purchasedto.id}">
			<button class="btn btn-primary" name="confirmation">次へ</button>
			</div>
			</form>
</body>
</html>