<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cancelDeliveredDetail</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
	
	<h1 class="titleDesign" >キャンセル前詳細</h1>
	<div class="progress" style="width:1100px;">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<form method="post" th:action="@{/cancelDeliveryComplete}"
			th:object="${cancelForm}">
			<table class="table table-hover table-bordered cancelDeliveredDetailTableDesign"
				th:each="purchasedto : ${purchaseList}" style="width:1100px;">

				<tr class="cancelDeliveredDetailThDesign">
					<th class="text-center">購入日</th>
					<th class="text-center">商品名</th>
					<th class="text-center">値段</th>
					<th class="text-center">購入数</th>
					<th class="text-center">メモリ</th>
					<th class="text-center">ハードディスク</th>
					<th class="text-center">CPU</th>
				</tr>

				<tr class="cancelDeliveredDetailTdDesign">
					<td class="text-center"
						th:text="${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></td>
					<td class="text-center" th:text="${purchasedto.pcName}"></td>
					<td class="text-center" th:text="${totalPrice}"></td>
					<td class="text-center" th:text="${purchasedto.product_count}"></td>
					<td class="text-center" th:text="${purchasedto.memory}"></td>
					<td class="text-center" th:text="${purchasedto.hardDisc}"></td>
					<td class="text-center" th:text="${purchasedto.cpu}"></td>
				</tr>
			</table>
			
			<h3 style="width:1100px;">上記商品は発送済みのためお客様のお手元に届いたキャンセル商品をこのサイトの商品管理室へ着払いで発送をお願いいたします。<br>
			発送方法はキャンセルを確定した後の商品発送詳細画面でご覧になれます。</h3>
		
			
			<table>
			<br>
			<h3>返金をするための口座情報を入力してください。</h3>
			
			<h2 class="text-danger" th:text="${result}"></h2>
			
			<tr>
			<th class="cancelDeliveredDetailThNextDesign">口座番号</th>
			<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('bankNumber')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{bankNumber}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('bankNumber')}" th:errors="*{bankNumber}">bankNumber error</span>
					</td>
			</tr>
			
			<tr>
			<th class="cancelDeliveredDetailThNextDesign">店舗番号</th>
			<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('storeName')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{storeName}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}">storeName error</span>
					</td>
			</tr>
			
			</table>
			
				<div class="btn-wrapper cancelCheckDesign" th:if="${check} != '再入力不可'"> 
    <div class="check-box" >
        <label><input class="check" type="checkbox" name="check" autocomplete="off" id="agree"><span><a ></a>口座情報を確定し、キャンセルに同意する</span></label>
    </div>
    <div th:each="purchasedto : ${purchaseList}">
    <input type="hidden" name="id" th:value="${purchasedto.id}">
			<input type="hidden" name="customId" th:value="${purchasedto.custom_id}">
    <input class="submit" type="submit" id="submit" value="発送詳細ページへ" />
</div></div>
			
			<!--  <div th:each="purchasedto : ${purchaseList}">
			<input type="hidden" name="id" th:value="${purchasedto.id}">
			<input type="hidden" name="customId" th:value="${purchasedto.custom_id}">
			<a class="btn btn-primary">発送詳細ページへ</a>
			</div>-->
		</form>
		<script>
		$(function() {

  $('.submit').attr('disabled', 'disabled');

  $('#agree').on('click', function() {
      if ($(this).prop('checked') == false) {
        $('.submit').attr('disabled', 'disabled');
      } else {
        $('.submit').removeAttr('disabled');
      }
    });
 
 });
		</script>
	</div>
</body>
</html>