<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cart</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
	<header>
	<h1>カート画面</h1>
	</header>

	<div class="flex">
			<div class="item" th:each="pcdatadto : ${cartList}">
				<img class="size" th:src="${pcdatadto.pcImg}">
				<h4 class="card-title text-center fontdesign"
					th:text="'商品名：' + ${pcdatadto.pc_name}"></h4>
				<p class="card-text text-center fontdesign"
					th:text="'会社名：' + ${pcdatadto.company}"></p>
				<p class="card-text text-center fontdesign"
					th:text="'OS：' + ${pcdatadto.os}"></p>
				<p class="card-text text-center fontdesign"
					th:text="'画面サイズ：' + ${pcdatadto.pc_size} + '型'"></p>
				<p class="card-text text-center fontdesign"
					th:text="'値段：' + ${pcdatadto.price} + '円'"></p>
				<p class="card-text text-center fontdesign"
					th:text="'在庫数：' + ${pcdatadto.product_stock} + '個'"></p>
				<a class="text-center a"
					th:href="@{/productDetail} + '/' + ${pcdatadto.id}">詳細画面に行く</a>
				<button>数を減らす</button>
				<button>数を増やす</button>
				<a>商品削除</a>
				<div class="card-footer"></div>
			</div>
		</div>

		<table>
			<tr>
				<th>カート合計金額</th>
				<td class="card-text text-center fontdesign"
					th:text="${totalPrice}"></td>
			</tr>
		</table>
		<a th:href="@{/clearing}" class="btn btn-danger">決済画面へ</a>
	</div>
</body>
</html>