<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cart</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1>カート画面</h1>
		</header>

		<p class="cartDesign" th:text="${result}"></p>
		<br>
		<br>

		<div class="flex cartList">
			<div class="item" th:each="pcdatadto : ${cartList}">
				<form method="post" th:action="@{/cart} + '/' + ${pcdatadto.id}"
					th:object="${cartForm}">
					<img class="size" th:src="${pcdatadto.pcImg}">
					<h5 class="card-title text-center fontdesign"
						th:text="'商品名：' + ${pcdatadto.pc_name}"></h5>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'会社名：' + ${pcdatadto.company}"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'OS：' + ${pcdatadto.os}"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'画面サイズ：' + ${pcdatadto.pc_size} + '型'"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'メモリー：' + ${pcdatadto.memory}"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'ハードディスク：' + ${pcdatadto.hardDisc}"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'CPU：' + ${pcdatadto.cpu}"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'カスタム後値段：' + ${pcdatadto.afterCustomPrice} + '円'"></p>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'在庫数：' + ${pcdatadto.product_stock} + '個'"></p>
					<a class="text-center detailGoCart"
						style="margin-bottom: 0px !important"
						th:href="@{/productDetail} + '/' + ${pcdatadto.id}"><span
						class="font">詳細画面に行く</span></a>
					<p style="margin-bottom: 0px !important">
						<span>購入数</span><input type="text" class="form-control formdesign"
							th:value="${pcdatadto.product_count}" name="product_count"
							style="width: 48%; margin-left: 51px;">
					</p>
					<table>
						<tr>
							<th>
								<div class="btn-radius-gradient-wrap delteBtnMargin">
									<button class="btn btn-radius-gradient deleteBtn center-block"
										name="delete">商品削除</button>
								</div>
								<div class="btn-radius-gradient-wrap">
									<button class="btn btn-radius-gradient updateBtn"
										name="countUpdate">数更新</button>
								</div>
							</th>
						</tr>
					</table>
				</form>
			</div>
		</div>




		<form th:action="@{/clearing}">
			<table class="col-sm-9 cartPrice table table-bordered table-hover">
				<tr>
					<td style="width: 214px;"><a th:href="@{/productList}"
						class="btn btn2 btn--orange btn--cubic btn--shadow productListBtn">買い物を続ける</a></td>
					<th class="text-center textDesign1">カート合計金額</th>
					<td class="cartPrice2 card-text text-center fontdesign textDesign2"
						th:text="${totalPrice} + '円'"></td>

					<td><button
							class="btn btn2 btn--orange btn--cubic btn--shadow clearingBtn">決済画面へ</button></td>
				</tr>
			</table>

		</form>
	</div>
</body>
</html>