<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>cart</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">カート画面</h1>
		</header>

		<p class="cartDesign" th:text="${result}"></p>
		<br>
		<br>

		<div class="flex cartList" style="width:1100px;">
			<div class="item" th:each="pcdatadto : ${cartList}">
				<form method="post" th:action="@{/cart} + '/' + ${pcdatadto.id}"
					th:object="${cartForm}">
					<img class="size" th:src="${pcdatadto.pcImg}">
					<h5 class="card-title text-center fontdesign"
						th:text="'商品名：' + ${pcdatadto.pc_name}"></h5>
					<p class="card-text text-center fontdesign"
						style="margin-bottom: 0px !important"
						th:text="'会社名：' + ${pcdatadto.company}"></p>
					<p class="card-text text-center fontdesign cartos"
						style="margin-bottom: 0px !important"
						th:text="'OS：' + ${pcdatadto.os}"></p>
					<p class="card-text text-center fontdesign cartsize"
						style="margin-bottom: 0px !important"
						th:text="'画面サイズ：' + ${pcdatadto.pc_size} + '型'"></p>
					<p class="card-text text-center fontdesign cartmemory"
						style="margin-bottom: 0px !important"
						th:text="'メモリー：' + ${pcdatadto.memory}"></p>
					<p class="card-text text-center fontdesign cartharddisc"
						style="margin-bottom: 0px !important"
						th:text="'ハードディスク：' + ${pcdatadto.hardDisc}"></p>
					<p class="card-text text-center fontdesign cartcpu"
						style="margin-bottom: 0px !important"
						th:text="'CPU：' + ${pcdatadto.cpu}"></p>
					<p class="card-text text-center fontdesign cartprice"
						style="margin-bottom: 0px !important"
						th:text="'カスタム後値段：' + ${pcdatadto.afterCustomPrice} + '円'"></p>
					<p class="card-text text-center fontdesign cartstock"
						style="margin-bottom: 0px !important"
						th:text="'在庫数：' + ${pcdatadto.product_stock} + '個'"></p>
					<a class="text-center detailGoCart"
						style="margin-bottom: 0px !important"
						th:href="@{/productDetail} + '/' + ${pcdatadto.id}"><span
						class="font">詳細画面に行く</span></a>
					<p style="margin-bottom: 0px !important">
						<span class="purchaseCount">購入数</span><input type="text" class="form-control formdesign"
							th:value="${pcdatadto.product_count}" name="product_count"
							style="width: 48%; margin-left: 51px;">
					</p>
					<table>
						<tr>
							<th>
								<div class="btn-radius-gradient-wrap delteBtnMargin">
									<button class="btn btn-radius-gradient deleteBtn center-block"
										name="delete">商品削除</button>
								</div>
								<div class="btn-radius-gradient-wrap">
									<button class="btn btn-radius-gradient updateBtn"
										name="countUpdate">数更新</button>
								</div>
							</th>
						</tr>
					</table>
				</form>
			</div>
		</div>




		<form th:action="@{/clearing}">
		
		
			<table th:if="${couponAfterPrice} == '-1'" class="cartPrice table table-bordered table-hover cartTable">
				<tr>
					<td style="width: 214px;"><a th:href="@{/productList}"
						class="btn btn2 btn--blue btn--cubic btn--shadow productListBtn">買い物を続ける</a></td>
					<td style="width: 156px;" class="text-center " th:text="'カート合計金額' + ${totalPrice} + '円'"></td>
					<td><button
							class="btn btn2 btn--orange btn--cubic btn--shadow clearingBtn">決済画面へ</button></td>
					<td><a th:href="@{/couponSee}"
							class="btn btn2 btn--orange btn--cubic btn--shadow couponBtn">クーポンを見る</a></td>
				</tr>
			</table>
			
			<table th:if="${couponAfterPrice} != '-1'" class="cartPrice table table-bordered table-hover cartTable">
				<tr>
					<td style="width: 214px;"><a th:href="@{/productList}"
						class="btn btn2 btn--blue btn--cubic btn--shadow productListBtn">買い物を続ける</a></td>
					<td style="width: 156px;" class="text-center " th:text="'カート合計金額' + ${totalPrice} + '円'"></td>
					<td class="cartPrice2 card-text text-center fontdesign textDesign2"
						th:text="'クーポン使用後' + ${couponAfterPrice} + '円'"></td>

					<td><button
							class="btn btn2 btn--orange btn--cubic btn--shadow clearingBtnAfter">決済画面へ</button></td>
							<input type="hidden" name="couponId" th:value="${couponId}">
					<td><a th:href="@{/couponCancel}"
							class="btn btn2 btn--orange btn--cubic btn--shadow clearingBtnAfter">クーポンを外す</a></td>
				</tr>
			</table>
			

		</form>
	</div>
</body>
</html>