<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">取引画面</h1>
		</header>
		
		<div class="flex challengeProgrammingTradeList">
			<div class="item challengeProgrammingTradeCardDesign" th:each="chatContents : ${chatContents}">
					<h3 class="chatTitle">契約相手とあいさつしましょう</h3>
					<h4 class="text-primary" th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage1}"></h4>
					<h4 th:if="${chatContents.myMessage1} == null"><a th:href="@{/chatReturn1} + '/' + ${chatContents.productId}">挨拶を返す</a></h4>
					<h4 th:if="${chatContents.myMessage1} != null" class="text-danger chatTextDesign" th:text="${chatContents.myMessage1} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
					<h4 th:if="${chatContents.myMessage1} != null" class="text-primary" th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage2}"></h4>
			</div>
			<div class="item challengeProgrammingTradeCardDesign" >
					<h3>進行状況</h3>
			</div>
		</div>
		

		
		
	</div>
	
</body>
</html>