<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">取引画面</h1>
		</header>

		<div class="flex challengeProgrammingTradeList">
			<div th:if="${chatCheck} == 'no'"
				class="item challengeProgrammingTradeCardDesign"
				th:each="chatContents : ${chatContents}">
				<h3 class="chatTitle">契約相手とあいさつしましょう</h3>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage1}"></h4>
				<h4 th:if="${chatContents.myMessage1} == null">
					<a th:href="@{/chatReturn1} + '/' + ${chatContents.productId}">挨拶を返す</a>
				</h4>
				<h4 th:if="${chatContents.myMessage1} != null"
					class="text-danger chatTextDesign"
					th:text="${chatContents.myMessage1} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 th:if="${chatContents.myMessage1} != null" class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage2}"></h4>
				<h4
					th:if="${chatContents.teacherMessage2} != null and ${chatContents.myMessage2} == null">
					<a th:href="@{/chatReturn2} + '/' + ${chatContents.productId}">返信する</a>
				</h4>
				<h4
					th:if="${chatContents.myMessage1} != null and ${chatContents.myMessage2} != null"
					class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage2} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4
					th:if="${chatContents.teacherMessage2} != null and ${chatContents.teacherMessage3} != null "
					class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage3}"></h4>
				<h4
					th:if="${chatContents.teacherMessage3} != null and ${chatContents.myMessage3} == null">
					<a th:href="@{/chatReturn3} + '/' + ${chatContents.productId}">返信する</a>
				</h4>
				<h4 th:if="${chatContents.myMessage3} != null"
					class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage3} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4
					th:if="${chatContents.teacherMessage3} != null and ${chatContents.myMessage3} != null">
					<a th:href="@{/progressStatus} + '/' + ${chatContents.productId}">次に進む</a>
				</h4>
			</div>
			<div th:if="${chatCheck} == 'yes'"
				class="item challengeProgrammingTradeCardDesign"
				th:each="chatContents : ${chatContents}">
				<h3 class="chatTitle">契約相手とあいさつしましょう</h3>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage1}"></h4>
				<h4 class="text-danger chatTextDesign"
					th:text="${chatContents.myMessage1} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage2}"></h4>
				<h4 class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage2} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage3}"></h4>
				<h4 class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage3} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
			</div>

			<div class="item challengeProgrammingTradeCardDesign" >
				<h3 class="tradeTitle">取引設定</h3>
				<div th:if="${chatCheck} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<h3>あいさつをしよう</h3>
				</div>
				<div th:if="${chatCheck} == 'yes' and ${lessonDayCheck} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/scheduleAdjustment} + '/' + ${productId}" class="btn btn-flat"><span>日程設定</span></a>
				</div>
				<div th:if="${lessonDayCheck} == 'yes' and ${belongngs} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/belongingsCheck} + '/' + ${productId}" class="btn btn-flat"><span>持物確認</span></a>
				</div>
				<div th:if="${belongngs} == 'yes' and ${location} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/locationConfirmation} + '/' + ${productId}" class="btn btn-flat"><span>場所確認</span></a>
				</div>
				<div th:if="${location} == 'yes' and ${lessonCheck} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/currentDayTrading} + '/' + ${productId}" class="btn btn-flat"><span>当日用QRコード</span></a>
					<a th:href="@{/lessonStart} + '/' + ${productId}" class="btn btn-flat btn-flatModify"><span>講座開始へ</span></a>
				</div>
				<div th:if="${lessonCheck} == 'yes' and ${lessonEnd} == 'no'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/lessonEnd} + '/' + ${productId}" class="btn btn-flat"><span>講座完了</span></a>
				</div>
				<div th:if="${lessonCheck} == 'yes' and ${lessonEnd} == 'yes'">
					<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
					<a th:href="@{/lessonEvaluation} + '/' + ${productId}" class="btn btn-flat"><span>講座評価</span></a>
				</div>
			</div>
		</div>

		<div class="flex challengeProgrammingTradeNextList">
			<div class="item challengeProgrammingTradeCardDesign">
				<h3 class="lessonDay">講座日程</h3>
				<h4 th:if="${lessonDayCheck} == 'yes' and ${lessonEnd} == 'no'" th:text="${lessonDay}"></h4>
				<h4 th:if="${lessonEnd} == 'yes'" th:text="${startDate} + 'から' + ${endDate} + 'まで受講しました。'"></h4>
			</div>
			
			<div class="item challengeProgrammingTradeCardDesign">
			
			</div>
		</div>

		<h3 class="text-center">進行状況</h3>
		<ul th:if="${progressStatus} == 1" class="progressbar">
			<li class="active">あいさつ</li>
			<li>日程設定</li>
			<li>持ち物チェック</li>
			<li>場所確認</li>
			<li>当日用コード</li>
			<li>講座中</li>
			<li>講座評価</li>
		</ul>

		<ul th:if="${progressStatus} == 2" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li>持ち物チェック</li>
			<li>場所確認</li>
			<li>当日用コード</li>
			<li>講座中</li>
			<li>講座評価</li>
		</ul>

		<ul th:if="${progressStatus} == 3" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li class="active">持ち物チェック</li>
			<li>場所確認</li>
			<li>当日用コード</li>
			<li>講座中</li>
			<li>講座評価</li>
		</ul>
		
		<ul th:if="${progressStatus} == 4" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li class="active">持ち物チェック</li>
			<li class="active">場所確認</li>
			<li>当日用コード</li>
			<li>講座中</li>
			<li>講座評価</li>
		</ul>
		
		<ul th:if="${progressStatus} == 5" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li class="active">持ち物チェック</li>
			<li class="active">場所確認</li>
			<li class="active">当日用コード</li>
			<li>講座中</li>
			<li>講座評価</li>
		</ul>
		
		<ul th:if="${progressStatus} == 6" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li class="active">持ち物チェック</li>
			<li class="active">場所確認</li>
			<li class="active">当日用コード</li>
			<li class="active">講座中</li>
			<li>講座評価</li>
		</ul>
		
		<ul th:if="${progressStatus} == 7" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li class="active">持ち物チェック</li>
			<li class="active">場所確認</li>
			<li class="active">当日用コード</li>
			<li class="active">講座中</li>
			<li class="active">講座評価</li>
		</ul>
	</div>

</body>
</html>