<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<title></title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">チャレンジプログラミング</h1>
		</header>
		<div class="flex challengeProgrammingList" style="width: 1100px;">
			<div class="item cardDesign" th:each="productdto : ${challengeProgrammingList}">
				<img class="size" th:src="${productdto.img}">
				<h4 class="card-title  fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'[講座名]：' + ${productdto.title}"></h4>
				<p class="card-text  fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'[内容]：' + ${productdto.content}"></p>
				<p class="card-text  fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'[値段]：' + ${productdto.price} + '円'"></p>
				<p class="card-text  fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'[マイネーム]：' + ${productdto.myName}"></p>
				<p class="card-text  fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'[ポジション]：' + ${productdto.position}"></p>
				<p class="card-text  fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'[講座時間]：' + ${productdto.workingTimes} + '時間'"></p>
				<p class="card-text  fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="'[勤務可能時間]：' + ${productdto.fixableTimeFromGetTime} + '-' + ${productdto.fixableTimeToGetTime}"></p>
				<a class="text-center productDetailLync"
					th:href="@{/productDetail} + '/' + ${productdto.id}"><span
					class="productDetailDesigin">詳細画面に行く</span></a>
			</div>
		</div>
	</div>

</body>
</html>