<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<title></title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">チャレンジプログラミング</h1>
		</header>
		<div class="flex productList" style="width: 1100px;">
			<div class="item" th:each="productdto : ${productList}">
				<img class="size" th:src="${productdto.pcImg}">
				<h4 class="card-title text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'題：' + ${productdto.title}"></h4>
				<p class="card-text text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'内容：' + ${productdto.content}"></p>
				<p class="card-text text-center fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'値段：' + ${productdto.price}"></p>
				<p class="card-text text-center fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'利用時間：' + ${productdto.workingTimes}"></p>
				<p class="card-text text-center fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="'勤務可能時間：' + ${productdto.fixable_timeFrom} + 'から'"></p>
				<p class="card-text text-center fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="${productdto.fixable_timeTo} + 'まで'"></p>
				<a class="text-center productListGo"
					th:href="@{/productDetail} + '/' + ${productdto.id}"><span
					class="DetailRyncDesigin">詳細画面に行く</span></a>
			</div>
		</div>
	</div>

</body>
</html>