<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<title></title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">プロジェクト詳細</h1>
		</header>
		
		<table class="table table-bordered projectDetailTableDesigin">
				<tr >
					<th class="text-center padding">題名</th>
					<th class="text-center padding">内容</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" >
					<td class="text-center padding" th:text="${product.title}"></td>
					<td class="text-center padding" th:text="${product.content}"></td>
				</tr>
			</table>
			
			<table class="table table-bordered projectDetailTwoTableDesigin">
				<tr >
					<th class="text-center padding">講座時間</th>
					<th class="text-center padding">勤務可能時間</th>
					<th class="text-center padding">値段</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" >
					<td class="text-center padding" th:text="${product.workingTimes} + '時間'"></td>
					<td class="text-center padding" th:text="${product.fixableTimeFromGetTime} + '-' + ${product.fixableTimeToGetTime}"></td>
					<td class="text-center padding" th:text="${product.price} + '円'"></td>
				</tr>
			</table>
			
		<table class="table table-bordered projectDetailThreeTableDesigin">
				<tr >
					<th class="text-center padding">ネーム</th>
					<th class="text-center padding">出身地</th>
					<th class="text-center padding">国籍</th>
					<th class="text-center padding">学歴</th>
					<th class="text-center padding">ポジション</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" >
					<td class="text-center padding" th:text="${product.myName}"></td>
					<td class="text-center padding" th:text="${product.birthplace}"></td>
					<td class="text-center padding" th:text="${product.nationality}"></td>
					<td class="text-center padding" th:text="${product.educationalBackground} + '卒業'"></td>
					<td class="text-center padding" th:text="${product.position}"></td>
				</tr>
			</table>
			
			<table class="table table-bordered projectDetailFourTableDesigin">
				<tr >
					<th class="text-center padding">持ち物</th>
					<th class="text-center padding">準備</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" >
					<td class="text-center padding" th:text="${product.belongings}"></td>
					<td class="text-center padding" th:text="${product.setup}"></td>
				</tr>
			</table>
			
			<table class="table ">
				<tr th:each="product : ${challengeProgrammingOne}">			
					
					<td><img class="imgSize text-center" th:src="${product.img}"></td>
					
					<td><a th:href="productContractConfirmation">この人から上記のサービスを受ける</a></td>			
				</tr>
			</table>
			
			
		
		
	</div>

</body>
</html>