<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<title></title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">プロジェクト詳細</h1>
		</header>
		
		<table class="table table-bordered projectDetailTableDesigin">
				<tr >
					<th class="text-center padding">マイネーム</th>
					<th class="text-center padding">ポジション</th>
					<th class="text-center padding">講座時間</th>
					<th class="text-center padding">勤務可能時間</th>
					<th class="text-center padding">値段</th>
				</tr>
				<tr th:each="projectdto : ${challengeProgrammingOne}" >
					<td class="text-center padding" th:text="${projectdto.myName}"></td>
					<td class="text-center padding" th:text="${projectdto.position}"></td>
					<td class="text-center padding" th:text="${projectdto.workingTimes}"></td>
					<td class="text-center padding" th:text="${projectdto.fixableTimeFrom} + ${projectdtofixableTimeTo}"></td>
					<td class="text-center padding" th:text="${projectdto.price} + '円'"></td>
				</tr>
			</table>
		
		
	</div>

</body>
</html>