<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<title></title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">プロジェクト詳細</h1>
		</header>
		
		<table class="table table-bordered projectDetailTableDesigin ">
				<tr class="challeProThDesign">
					<th class="text-center challeProTitleThDesign">題名</th>
					<th class="text-center challeProContentThDesign">内容</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" class="challeProTdDesign">
					<td class="text-center padding" th:text="${product.title}"></td>
					<td class="text-center padding" th:text="${product.content}"></td>
				</tr>
			</table>
			
			<table class="table table-bordered projectDetailTwoTableDesigin">
				<tr class="challeProThDesign">
					<th class="text-center challeProLearnSpaceThDesign">学習場所</th>
					<th class="text-center challeProWorkingTimesThDesign">学習時間</th>
					<th class="text-center challeProFixableTimeFromToGetTimeThDesignng">勤務可能時間</th>
					<th class="text-center challeProPriceThDesign">値段</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" class="challeProTdDesign">
					<td class="text-center padding" th:text="${product.learnSpace}"></td>
					<td class="text-center padding" th:text="${product.workingTimes} + '時間'"></td>
					<td class="text-center padding" th:text="${product.fixableTimeFromGetTime} + '-' + ${product.fixableTimeToGetTime}"></td>
					<td class="text-center padding" th:text="${product.price} + '円'"></td>
				</tr>
			</table>
			
		<table class="table table-bordered projectDetailThreeTableDesigin">
				<tr class="challeProThDesign">
					<th class="text-center challeProMyNameThDesign">ネーム</th>
					<th class="text-center challeProBirthplaceThDesign">出身地</th>
					<th class="text-center challeProNationalityThDesign">国籍</th>
					<th class="text-center challeProEducationalBackgroundThDesign">学歴</th>
					<th class="text-center challeProPositionThDesign">ポジション</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" class="challeProTdDesign">
					<td class="text-center padding" th:text="${product.myName}"></td>
					<td class="text-center padding" th:text="${product.birthplace}"></td>
					<td class="text-center padding" th:text="${product.nationality}"></td>
					<td class="text-center padding" th:text="${product.educationalBackground} + '卒業'"></td>
					<td class="text-center padding" th:text="${product.position}"></td>
				</tr>
			</table>
			
			<table class="table table-bordered projectDetailFourTableDesigin">
				<tr class="challeProThDesign">
					<th class="text-center challeProBelongingsThDesign">持ち物</th>
					<th class="text-center challeProSteupThDesign">PC環境準備</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" class="challeProTdDesign">
					<td class="text-center padding" th:text="${product.belongings}"></td>
					<td class="text-center padding" th:text="${product.steup}"></td>
				</tr>
			</table>
			
			<table class="table table-bordered projectDetailFiveTableDesigin">
				<tr class="challeProThDesign">
					<th class="text-center padding">教え主からのコメント</th>
				</tr>
				<tr th:each="product : ${challengeProgrammingOne}" class="challeProTdDesign">
					<td class="text-center padding" th:text="${product.voiceTeacher}"></td>
				</tr>
			</table>
			
			<table class="table projectDetailSixTableDesigin">
				<tr th:each="product : ${challengeProgrammingOne}">			
					
					<td><img class="productDetailImgSize text-center" th:src="${product.img}"></td>
					
					<td><a ht:href="@{/challengeProgramming}" class="Btn btn-coupon"><i class="fa fa-cut"></i>
  <div class="left"><span>早い人</span><br>勝ち!</div>
  <div class="right">契約詳細は<br>こちらをクリック！<span>このボタンを押しても契約完了<br>ではありません。</span></div>
</a></td>			
				</tr>
			</table>
			
			
		
		
	</div>

</body>
</html>