<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">取引画面</h1>
		</header>

		<div class="flex challengeProgrammingTradeList">
			<div th:if="${chatCheck} == 'no'"
				class="item challengeProgrammingTradeCardDesign"
				th:each="chatContents : ${chatContents}">
				<h3 class="chatTitle">契約相手とあいさつしましょう</h3>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage1}"></h4>
				<h4 th:if="${chatContents.myMessage1} == null">
					<a th:href="@{/chatReturn1} + '/' + ${chatContents.productId}">挨拶を返す</a>
				</h4>
				<h4 th:if="${chatContents.myMessage1} != null"
					class="text-danger chatTextDesign"
					th:text="${chatContents.myMessage1} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 th:if="${chatContents.myMessage1} != null" class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage2}"></h4>
				<h4
					th:if="${chatContents.teacherMessage2} != null and ${chatContents.myMessage2} == null">
					<a th:href="@{/chatReturn2} + '/' + ${chatContents.productId}">返信する</a>
				</h4>
				<h4
					th:if="${chatContents.myMessage1} != null and ${chatContents.myMessage2} != null"
					class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage2} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4
					th:if="${chatContents.teacherMessage2} != null and ${chatContents.teacherMessage3} != null "
					class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage3}"></h4>
				<h4
					th:if="${chatContents.teacherMessage3} != null and ${chatContents.myMessage3} == null">
					<a th:href="@{/chatReturn3} + '/' + ${chatContents.productId}">返信する</a>
				</h4>
				<h4 th:if="${chatContents.myMessage3} != null"
					class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage3} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4
					th:if="${chatContents.teacherMessage3} != null and ${chatContents.myMessage3} != null">
					<a th:href="@{/progressStatus} + '/' + ${chatContents.productId}">次に進む</a>
				</h4>
			</div>
			<div th:if="${chatCheck} == 'yes'"
				class="item challengeProgrammingTradeCardDesign"
				th:each="chatContents : ${chatContents}">
				<h3 class="chatTitle">契約相手とあいさつしましょう</h3>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage1}"></h4>
				<h4 class="text-danger chatTextDesign"
					th:text="${chatContents.myMessage1} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage2}"></h4>
				<h4 class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage2} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
				<h4 class="text-primary"
					th:text="'[' + ${chatContents.teacherName} + ']' + '：' + ${chatContents.teacherMessage3}"></h4>
				<h4 class="text-danger longChatTextDesign"
					th:text="${chatContents.myMessage3} + '：' + '[' +  ${chatContents.userName} + ']'"></h4>
			</div>

			<div class="item challengeProgrammingTradeCardDesign">
				<h3>取引設定</h3>
				<img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
				<a th:href="@{/scheduleAdjustment}">日程調整に進む</a>

			</div>
		</div>
		<h3>進行状況</h3>
		<ul th:if="${progressStatus} == 1" class="progressbar">
			<li class="active">あいさつ</li>
			<li>日程設定</li>
			<li>目的地周辺郵便局へ輸送中</li>
			<li>目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>
		
		<ul th:if="${progressStatus} == 2" class="progressbar">
			<li class="active">あいさつ</li>
			<li class="active">日程設定</li>
			<li>目的地周辺郵便局へ輸送中</li>
			<li>目的地周辺郵便局へ到着</li>
			<li>目的地へ持ち出し中</li>
			<li>目的地へ配達完了</li>
		</ul>


	
		<div th:each="dayList : ${dayList}">
			<p th:text="${dayList}"></p>
		</div>

		



		<p>
			<button onclick="getMyPlace()">現在位置を取得</button>
		</p>
		<div id="result"></div>
		<p>
			<button onclick="initAutocomplete()">検索</button>
			<input id="pac-input" class="controls" type="text"
				placeholder="Search Box">
		</p>

		<!-- 地図を表示する div 要素 -->
		<div id="map"></div>






		<!-- 地図の埋め込み表示 -->
		<div id="map_canvas" style="height: 300px; width: 550px;"></div>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdZSnAW89DpXllrN7Hxb198lIbUAp2Hqg&libraries=places&callback=initMap"
			defer>
			>
		</script>
		<script th:src="@{/js/MapsJavaScriptCurrentLocationSearch.js}">
		</script>
		
		<script th:src="@{/js/MapsJavaScriptGetAPI.js}">
			
		</script>
		<script th:src="@{/js/MapsJavaScriptApiSearchBox.js}">
			
		</script>

	</div>

</body>
</html>