<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>clelaring</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">

		<header>
			<h1 class="titleDesign">決済画面</h1>
		</header>

		<br> <br>
		<form method="post" th:action="@{/clearing} + '/' + ${couponId}" th:object="${creditForm}">

			<div>
				<h4>JCBカードの情報を入力してください。</h4>
			</div>
			<table class="table table-bordered table-hover clearingTableDesign">



				<tr>
					<th class="form-group text-center thTitleDesign clearingBackColora">クレジット三桁コード</th>
					<td class="clearingBackColorb">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('digits_3_code')} ? 'hasError'">
							<input type="text" class="form-control inputDesign"
								th:field="*{digits_3_code}" placeholder="カードの3桁コードを入力してください">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('digits_3_code')}" th:errors="*{digits_3_code}">digits_3_code error</span>
					</td>

				</tr>

				<tr>
					<th class="form-group text-center thTitleDesign clearingBackColora">クレジット記載名義</th>
					<td class="clearingBackColorb"><div class="form-group"
							th:classappend="${#fields.hasErrors('cardName')} ? 'hasError'">
							<input type="text" class="form-control inputDesign" th:field="*{cardName}"
								placeholder="ローマ字記載のカード名義を入力してください。">
						</div> <span class="text-danger"
						th:if="${#fields.hasErrors('cardName')}" th:errors="*{cardName}">cardName
							error</span></td>
				</tr>

				<tr>
					<th class="form-group text-center thTitleDesign clearingBackColora">クレジット番号</th>
					<td class="clearingBackColorb"><div class="form-group"
							th:classappend="${#fields.hasErrors('cardNumber')} ? 'hasError'">
							<input type="tel" class="form-control inputDesign" th:field="*{cardNumber}"
								placeholder="16桁のカード番号を入力してください。">
						</div> <span class="text-danger"
						th:if="${#fields.hasErrors('cardNumber')}"
						th:errors="*{cardNumber}">cardNumber error</span></td>
				</tr>

				<tr>
					<th class="form-group text-center thTitleDesign priceBackColora">引き落とし金額</th>
					<td class="priceBackColorb" th:text="${totalPrice} + '円'"></td>
				</tr>

			</table>

			<!-- <input type="hidden" name="digits_3_code" th:value="${digits_3_code}">-->

			<button class="btn btn-gradient confirmationBtn">最終確認画面へ</button>
		
		</form>

		<!--
		<div class="btn-wrapper">
    <div class="check-box">
        <label class="text-danger"><input class="check" type="checkbox" name="check" autocomplete="off" id="agree"><span><a></a>カート内の全ての商品を確認し、商品内容に同意した上で購入します。</span></label>
    </div>
    <input class="submit" type="submit" id="submit"  />
</div>
		</form>

<script>
$(function() {

  $('.submit').attr('disabled', 'disabled');

  $('#agree').on('click', function() {
      if ($(this).prop('checked') == false) {
        $('.submit').attr('disabled', 'disabled');
      } else {
        $('.submit').removeAttr('disabled');
      }
    });

 });
</script>
-->

	</div>
</body>
</html>