<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>clelaring</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">

		<header>
			<h1>決済画面</h1>
		</header>

<br><br>
		<form method="post" th:action="@{/clearing}" th:object="${creditForm}">

			<div>
				<h4>JCBカードの情報を入力してください。</h4>
			</div>
			<table class="table table-bordered table-hover">



				<tr>
					<th class="form-group">クレジット三桁コード</th>
					<td><input type="text" class="form-control"
						th:field="*{digits_3_code}" placeholder="カードの3桁コードを入力してください"></td>
				</tr>

				<tr>
					<th class="form-group">クレジット記載名義</th>
					<td><input type="text" class="form-control"
						th:field="*{cardName}" placeholder="ローマ字記載のカード名義を入力してください。"></td>
				</tr>

				<tr>
					<th class="form-group">クレジット番号</th>
					<td><input type="tel" class="form-control"
						th:field="*{cardNumber}" placeholder="16桁のカード番号を入力してください。"></td>
				</tr>

				<tr>
					<th class="form-group">引き落とし金額</th>
					<td th:text="${totalPrice} + '円'"></td>
				</tr>

			</table>

		<div class="btn-wrapper">
    <div class="check-box">
        <label class="text-danger"><input class="check" type="checkbox" name="check" autocomplete="off" id="agree"><span><a></a>カート内の全ての商品を確認し、商品内容に同意した上で購入します。</span></label>
    </div>
    <input class="submit" type="submit" id="submit" value="送信" />
</div>
		</form>

<script>
$(function() {

  $('.submit').attr('disabled', 'disabled');

  $('#agree').on('click', function() {
      if ($(this).prop('checked') == false) {
        $('.submit').attr('disabled', 'disabled');
      } else {
        $('.submit').removeAttr('disabled');
      }
    });

 });
</script>


	</div>
</body>
</html>