<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>contacteply</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">問い合わせの返信</h1>
		</header>
		 
		 <div class="contactReplyTableScrollBar">
		<table class="tabel table-bordered contactReplyTable" th:each="inquiryAlldto : ${inquiryAllDto}" >
			<tr class="inquiryTr1">
				<th class="text-center th1">問い合わせタイトル</th>
				<th class="text-center th2">問い合わせ内容</th>
				<th class="text-center th3">問い合わせ日時</th>
			</tr>
			
			<tr class="inquiryTr2">
				<td class="text-center th1" th:text="${inquiryAlldto.title}"></td>
				<td class="text-center th2" th:text="${inquiryAlldto.content}"></td>
				<td class="text-center th3" th:text="${#dates.format(inquiryAlldto.registrationDate,'yyyy/MM/dd hh:mm')}"></td>
			</tr>
			
			<div th:if="${inquiryAlldto.adminTitle} == '返信なし'">
			<br>
			<tr>
			<td>上記のお問い合わせに対して、<br>返信はありません。</td>
			</tr>
			</div>
			
			<div th:if="${inquiryAlldto.adminTitle} != '返信なし'">
			<br>
			<tr><th>上記のお問い合わせに対して、<br>管理者から返信がありました。</th></tr>
			
			<tr class="inquiryReplyTr1">
				<th class="text-center contactReplyThAdminTitle">返信タイトル</th>
				<th class="text-center contactReplyThAdminContent">返信内容</th>
				<th class="text-center contactReplyThAdminDate">返信日時</th>
			</tr>
			
			<tr class="inquiryReplyTr2">
				<td class="text-center contactReplyTdAdminTitle" th:text="${inquiryAlldto.adminTitle}"></td>
				<td class="text-center contactReplyTdAdminContent" th:text="${inquiryAlldto.adminContent}"></td>
				<td class="text-center contactReplyTdAdminDate" th:text="${#dates.format(inquiryAlldto.adminRegistrationDate,'yyyy/MM/dd hh:mm')}"></td>
			</tr>
			</div>
			
			<br>
		</table>
	</div>
	</div>
</body>
</html>