<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">クーポン情報</h1>
		</header>
		
		<table>
		
		</table>
		
		<div class="couponTable">
		<table class="table table-bordered " th:each="coupondto:${couponList}">
		
			<tr class="couponListThColor">
				<th class="text-center couponListThCouponName">クーポン名</th>
				<th class="text-center couponListThDiscount">割引パーセント</th>
				<th class="text-center couponListThPurchaseCountTarget">使用条件1(商品購入数)</th>
				<th class="text-center couponListThPurchaseTotalPriceTarget">使用条件2(合計購入金額)</th>
				<th class="text-center couponListThExpirationDate">期限日</th>
				<th class="text-center couponListThCouponDetail">クーポン詳細</th>
			</tr>
			
			<tr class="couponListTdColor">
				<td class="text-center couponListTdCouponName" th:text="${coupondto.title}"></td>
				<td class="text-center couponListTdDiscount" th:text="${coupondto.discount} + '%割り'"></td>
				<td class="text-center couponListTdPurchaseCountTarget" th:text="${coupondto.purchaseCountTarget} + '個以上'"></td>
				<td class="text-center couponListTdPurchaseTotalPriceTarget" th:text="${coupondto.purchaseTotalPriceTarget} + '円以上'"></td>
				<td class="text-center couponListTdExpirationDate" th:text="${#dates.format(coupondto.expirationDate,'yyyy/MM/dd')} + 'まで'"></td>
				<td th:if="${coupondto.couponCheck} == true" class="text-center text-danger couponListTdCouponDetail">使用可能</td>
				<td th:if="${coupondto.couponCheck} == false" class="text-center couponListTdCouponDetail">使用不可</td>
			</tr>
		
		</table>
		</div>
		<table class="couponAboutTable">
			<tr>
				<th class="couponAboutTh text-center">クーポンに<br>ついて</th>
				<td class="couponAboutTd"><br>クーポンは種類ごとに一回のみ使用できます。<br>クーポンは使用条件(商品購入数と合計購入金額)を二つとも達成している場合のみ使用できます。</td>
				<th class="couponAboutTh text-center">使用条件<br>早見表</th>
				<td class="couponAboutTd" th:text="'あなたのこれまでの商品購入数は' + ${purchaseCount} + '個で、合計購入金額は' + ${allTotalPrice} + '円です'"></td>
			</tr>
		
		</table>
		
	</div>
</body>
</html>