<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">クーポン追加</h1>
		</header>
		
		<form method="post" th:action="@{/couponAdd}" th:object=${couponForm}>
		
			<table class="table table-hover table-bordered">
			
				<tr>
				
					<th></th>
					<td></td>
					
					
				
				</tr>
			
			</table>
		
		</form>
		
	</div>
</body>
</html>