<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">クーポン情報</h1>
		</header>
		
		<table>
		<tr class="couponDetail1"><td th:text="'あなたのこれまでの商品購入数は' + ${purchaseCount} + '個で、合計購入金額は' + ${allTotalPrice} + '円です' + ' ※商品購入数と合計購入金額の条件をどちらも満たしている必要があります'"></td></tr>
		</table>
		
		<table class="table table-hover table-bordered" th:each="coupondto:${couponList}">
		
			<tr>
				<th class="text-center">クーポン名</th>
				<th class="text-center">割引パーセント</th>
				<th class="text-center">使用条件1(商品購入数)</th>
				<th class="text-center">使用条件2(合計購入金額)</th>
				<th class="text-center">期限日</th>
				<th class="text-center">クーポン詳細</th>
			</tr>
			
			<tr>
				<td class="text-center" th:text="${coupondto.title}"></td>
				<td class="text-center" th:text="${coupondto.discount} + '%割り'"></td>
				<td class="text-center" th:text="${coupondto.purchaseCountTarget} + '個以上'"></td>
				<td class="text-center" th:text="${coupondto.purchaseTotalPriceTarget} + '円以上'"></td>
				<td class="text-center" th:text="${coupondto.expirationDate} + 'まで'"></td>
				<td th:if="${coupondto.couponCheck} == true" class="text-center text-danger">使用可能</td>
				<td th:if="${coupondto.couponCheck} == false" class="text-center">使用不可</td>
			</tr>
		
		</table>
		
		<table>
			<tr>
				<th>クーポンについて</th>
				<td>クーポンは種類ごとに一回のみ使用できます。クーポンは使用条件(商品購入数と合計購入金額)を二つとも達成している場合のみ使用できます。</td>
			</tr>
		
		</table>
		
	</div>
</body>
</html>