<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">当日用コード発行ボタン</h1>
		</header>
		
		<h3>当日現地にて受付で下記のボタンから生成されたQRコードをみせてください。(スマホなどで写真を撮っておいてください)</h3>
		<table class="table table-bordered">
		
		<a th:if="${qrcodeCreate} == yes" th:href="@{/qrCodeCreate}">現地パス生成</a>
		
		<img th:if="${qrcodeCheck} == yes" th:src="@{/css/qrcode.png}"></img>
		</table>
		
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/RJPL8oSYWGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
	</div>
</body>
</html>