<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">デイリーガチャ</h1>
		
		<form method="post" th:action="@{/dailyGacha}">
		
		<table class="text-center dailyGacha-one-table">
		<tr>
			<th><button  name="probability" class="text-center btn dailyGacha-btn-border"><span>確率を見る</span></button></th>
			<th><h3 class="text-center" th:text="'ガチャポイント合計' + ${nowPoint} + 'ポイント'"></h3></th>
			<th><button class="text-center btn dailyGacha-btn-border" name="dailyGachaPointInterchange"><span>デイポイントを使う</span></button></th>
			<th><button class="text-center btn dailyGacha-btn-border" name="dailyGachaPointProductHistory"><span>交換履歴</span></button></th>
		</tr>
		
		<table>
			<tr>
		
				<img th:if="${gachaTurn} == 'no'" class="gachaSize" th:src="@{/css/gacha.png}">
				<img th:if="${gachaTurn} == 'yes'" class="gachaSize" th:src="@{/css/gachaAnimation.gif}">
			</tr>
		</table>
		
		<table th:if="${gachaTurn} == 'no' and ${gachaTurnCheck} == 'yes'" class="text-center dailyGacha-two-table">
		<tr>
			<th><button th:if="${gachaTurn} == 'no' and ${gachaTurnCheck} == 'yes'" name="gachaTurn" class="text-center btn btn-primary btn dailyGacha-btn-border"><span>ガチャを引く</span></button></th>
			<th><h3 th:if="${gachaTurn} == 'no' and ${gachaTurnCheck} == 'no'" class="text-center">本日はガチャを回しています</h3></th>
			<th><button th:if="${gachaTurn} == 'yes'" name="gachaResult" class="text-center btn btn-primary fadeIn btn dailyGacha-btn-border"><span>結果を見る</span></button></th>
		</tr>
		</table>
		
		<table th:if="${gachaTurn} == 'no' and ${gachaTurnCheck} == 'no'" class="text-center dailyGacha-three-table">
		<tr>
			<th><h3 th:if="${gachaTurn} == 'no' and ${gachaTurnCheck} == 'no'" class="text-center">本日はガチャを回しています</h3></th>
		</tr>
		</table>
		</form>
		
		
		<script>
		
		$(function() {
		    $('.fadeIn').hide().fadeIn(7000);
		});
		</script>
		
	</div>
</body>
</html>