<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">デイリーガチャ確率一覧</h1>
		
		<div class="dailyGachaProbabilityList">
		<table class="table table-bordered dailyGachaProbabilityTable">
			<tr>
				<th class="coin-icon-th-design"><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L5.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star5">星5-SS</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFiveSSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star5SS} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L4.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star4">星4-SS</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFourSSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star4SS} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L4.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star4">星4-S</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFourSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star4S} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L4.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star4">星4-A</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFourApoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star4A} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L4.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star4">星4-B</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFourBpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star4B} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L4.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star4">星4-C</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starFourCpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star4C} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L3.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star3">星3-SS</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starThreeSSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star3SS} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L3.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star3">星3-S</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starThreeSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star3S} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L3.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star3">星3-A</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starThreeApoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star3A} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L3.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star3">星3-B</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starThreeBpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star3B} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L3.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star3">星3-C</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starThreeCpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star3C} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L2.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star2">星2-SS</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starTwoSSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star2SS} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L2.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star2">星2-S</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starTwoSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star2S} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L2.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star2">星2-A</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starTwoApoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star2A} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L2.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star2">星2-B</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starTwoBpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star2B} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L2.jpg}"></th>
				<th class="text-center dailyGachaProbability-th-design star2">星2-C</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starTwoCpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star2C} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L1.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star1">星1-SS</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starOneSSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star1SS} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L1.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star1">星1-S</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starOneSpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star1S} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L1.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star1">星1-A</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starOneApoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star1A} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L1.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star1">星1-B</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starOneBpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star1B} + '%'"></td>
			</tr>
			
			<tr>
				<th><img class="dailyGachaProbabilitySize" th:src="@{/css/point_coin_L1.png}"></th>
				<th class="text-center dailyGachaProbability-th-design star1">星1-C</th>
				<td class="text-center dailyGachaProbability-point" th:text="${starOneCpoint}"></td>
				<td class="text-center dailyGachaProbability-td-design" th:text="${star1C} + '%'"></td>
			</tr>
		</table>
		</div>
	</div>
	
</body>
</html>