<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">商品購入履歴</h1>


		
		<div class="flex purHisTable" style="width: 1100px;">
			<div class="item" th:each="purchasedto : ${purchaseList}">
				<form>
					<img class="size" th:src="${purchasedto.pcImg}">
					<h5 class="card-title purHisfontdesign"
						th:text="'購入日：' + ${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></h5>
					<p class="card-title purHisfontdesign"
						th:text="'購入者：' + ${purchasedto.userName}"></p>
					<p class="card-title purHisfontdesign"
						th:text="'発送先住所：' + ${purchasedto.Address}"></p>
					<p class="card-title purHisfontdesign"
						th:text="'商品名：' + ${purchasedto.pcName}"></p>
					<p th:if="${purchasedto.couponId} == -1"
						class="card-title purHisfontdesign"
						th:text="'値段：' + ${purchasedto.totalPrice}"></p>
					<p
						th:if="${purchasedto.couponId} == -1 and ${purchasedto.pointUse} == 0"
						class="card-title purHisfontdesign"
						th:text="'支払い：' + ${purchasedto.totalPrice} + '円'"></p>
					<p
						th:if="${purchasedto.couponId} gt 0 and ${purchasedto.pointUse} == 0"
						class="card-title purHisfontdesign"
						th:text="'支払い：' + ${purchasedto.totalPrice} + '円' + '(クーポン適用)'"></p>
					<p
						th:if="${purchasedto.couponId} == -1 and ${purchasedto.pointUse} gt 0"
						class="card-title purHisfontdesign"
						th:text="'支払い：' + ${purchasedto.totalPrice} + '円' + '(ポイント適用)'"></p>
					<p
						th:if="${purchasedto.couponId} gt 0 and ${purchasedto.pointUse} gt 0"
						class="card-title purHisfontdesign"
						title="Cはクーポン、Pはポイントです"
						th:text="'支払い：' + ${purchasedto.totalPrice} + '円' + '(C&P適用)'"></p>
					<p class="card-text purHisfontdesign cartmemory"
						style="margin-bottom: 0px !important"
						th:text="'メモリー：' + ${purchasedto.memory}"></p>
					<p class="card-text purHisfontdesign cartharddisc"
						style="margin-bottom: 0px !important"
						th:text="'ハードディスク：' + ${purchasedto.hardDisc}"></p>
					<p class="card-text purHisfontdesign cartcpu"
						style="margin-bottom: 0px !important"
						th:text="'CPU：' + ${purchasedto.cpu}"></p>
					<p class="card-text purHisfontdesign cartcpu"
						style="margin-bottom: 0px !important"
						th:text="'購入数：' + ${purchasedto.product_count}"></p>
					<a th:if="${purchasedto.deliveryCheck} == '発送前'" th:href="@{/deliveryProcedureOK} + '/' + ${purchasedto.purchaseId}" class="text-center deliveryProcedureOK">発送後押す</a>
					<h4 class="text-danger text-center" th:if="${purchasedto.deliveryCheck} == '発送済み'"><a>発送済</a></h4>
			</div>
			
		</div>
		<script>
			$('.deliveryProcedureOK').click(function() {
				if (confirm('発送が完了しましたか？')) {

					return true;
				}
				return false;
			});
	</script>
	</div>
	
	
		
</body>
</html>