<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>editYour</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<h1 class="titleDesign">あなたの情報</h1>

	<br>
	<h2>基本情報</h2>
		<table class="table table-hover table-bordered userInfoTableDesign"
			th:each="userslistdto : ${usersList}">
			<tr class="editYourThDesign">
				<th class="text-center">メールアドレス</th>
				<th class="text-center">登録名</th>
				<th class="text-center">生年月日</th>
				<th class="text-center">商品受け取り住所</th>
				<th class="text-center">管理</th>
			</tr>

			<tr class="editYourTdDesign">
				<td class="text-center" th:text="${userslistdto.userId}"></td>
				<td class="text-center" th:text="${userslistdto.userName}"></td>
				<td class="text-center" th:text="${userslistdto.birthday}"></td>
				<td class="text-center" th:text="${userslistdto.address}"></td>
				<td class="text-center"><a
					th:href="@{ '/editYourDetail' +  '/' + ${id}}"
					class="btn btn-primary btnDesign">編集</a></td>
			</tr>
		</table>
		<h2>購入情報</h2>
		<table class="table table-hover table-bordered userPurchaseInfoTableDesign">
			<tr>
				<td class="text-center" th:text="'商品購入数:' + ${purchaseCount} + '個'"></td>
				<td class="text-center" th:text="'合計購入金額:' + ${allTotalPrice} + '円'"></td>
			</tr>
		</table>
		
		<h2>会員ランク</h2>
		<table class="table table-hover table-bordered userRankTableDesign">
			<tr>
			<td>
			<h3 class="text-center" th:text="${rankPoint}"></h3>

				<p th:if="${rankPoint} == 'アマチュアランク'"class="text-center" ><i class="fa fa-qq rank1 rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'プロランク'"class="text-center" ><i class="fa fa-qq rank2 rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'ブロンズランク'"class="text-center" ><i class="fa fa-drupal rank3 rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'シルバーランク'"class="text-center" ><i class="fa fa-drupal rank4 rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'ゴールドランク'"class="text-center" ><i class="fa fa-drupal rank5 rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'ダイヤモンドランク'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'プラチナムランク'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'エイリアンランク'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'ゴッドランク'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'プレミアムゴッドランク'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<p th:if="${rankPoint} == 'MEASUREMENTIMPOSSIBLERANK'"class="text-center" ><i class="fa fa-android rankIconDesign"></i></p>
				<button class="btn btn-primary">会員ランクの詳細</button></td>
				<td>次のランクは⇒⇒⇒⇒⇒⇒⇒⇒</td>
			</tr>
		</table>
		
	
	</div>
</body>
</html>