<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>editYour</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<h1 class="titleDesign">あなたの情報</h1>
		<br>
		<h2>基本情報</h2>
		<table class="table table-hover table-bordered userInfoTableDesign"
			th:each="userslistdto : ${usersList}">
			<tr class="editYourThDesign">
				<th class="text-center editYourMail">メールアドレス</th>
				<th class="text-center editYourName">登録名</th>
				<th class="text-center editYourBirthDate">生年月日</th>
				<th class="text-center editYourAddress">商品受け取り住所</th>
				<th class="text-center editYourDetail">管理</th>
			</tr>

			<tr class="editYourTdDesign">
				<td class="text-center editYourMail"
					th:text="${userslistdto.userId}"></td>
				<td class="text-center editYourName"
					th:text="${userslistdto.userName}"></td>
				<td class="text-center editYourBirthDate"
					th:text="${userslistdto.birthday}"></td>
				<td class="text-center editYourAddress"
					th:text="${userslistdto.address}"></td>
				<td class="text-center editYourDetail"><a
					th:href="@{ '/editYourDetail' +  '/' + ${id}}"
					class="btn btnEY-radius-solid btnEY--shadow btnDesign">編集</a></td>
			</tr>
		</table>
		<h2>購入情報</h2>
		<table
			class="table table-hover table-bordered userPurchaseInfoTableDesign">
			<tr>
				<td class="text-center purchaseInfoCountDesign"
					th:text="'商品購入数:' + ${purchaseCount} + '個'"></td>
				<td class="text-center purchaseInfoPriceDesign"
					th:text="'合計購入金額:' + ${allTotalPrice} + '円'"></td>
				<td class="text-center purchaseInfoPointDesign"
					th:text="'ITworksTRYshopping:' + ${point} + 'ポイント保持'"></td>

			</tr>
		</table>

		<h2>会員ランク</h2>
		<table class="table userRankTableDesign">
			<tr>
				<td>
					<h3 class="text-center" th:text="${rankPoint}"></h3>

					<p th:if="${rankPoint} == 'アマチュアランク'" class="text-center">
						<i class="fa fa-glass rank1 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'プロランク'" class="text-center">
						<i class="fa fa-glass rank2 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'ブロンズランク'" class="text-center">
						<i class="fa fa-trophy rank3 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'シルバーランク'" class="text-center">
						<i class="fa fa-trophy rank4 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'ゴールドランク'" class="text-center">
						<i class="fa fa-trophy rank5 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'ダイヤモンドランク'" class="text-center">
						<i class="fa fa-trophy rank6 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'プラチナムランク'" class="text-center">
						<i class="fa fa-trophy rank7 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'エイリアンランク'" class="text-center">
						<i class="fa  fa-drupal rank8 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'ゴッドフォックスランク'" class="text-center">
						<i class="fa fa-firefox rank9 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'プレミアムゴッドランク'" class="text-center">
						<i class="fa fa-graduation-cap rank10 rankIconDesign"></i>
					</p>
					<p th:if="${rankPoint} == 'InductedIntoTheHalOfFameRank'"
						class="text-center">
						<i class="fa fa-optin-monster rank11 rankIconDesign"></i>
					</p>
				</td>
				<td><a th:href="@{/userRankDetail}"
					class="btn btn--blue btn--border-double rankDetailBtnDesing">会員ランクの詳細</a></td>

			</tr>
		</table>


	</div>
</body>
</html>