<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">評価一覧</h1>
		</header>
		
		<div class="evaluationListScroll">
		<table class="table table-bordered">
		
			<tr class="evaluationListBackColorTop">
				<th class="text-center evaluationTeacherNameDesign">講座教授</th>
				<th class="text-center evaluationUserNameDesign">講座受講した方</th>
				<th class="text-center evaluationRateDesign">評価</th>
				<th class="text-center evaluationEvaluationDesign">評価内容</th>
				<th class="text-center evaluationregistrationDateDesign">評価日</th>
			</tr>
			
			<tr class="evaluationListBackColorButtom" th:each="evaluationList : ${evaluationList}">
				<td class="text-center evaluationTeacherNameDesign" th:text="${evaluationList.teacherName}"></td>
				<td class="text-center evaluationUserNameDesign" th:text="${evaluationList.userName}"></td>
				<td class="text-center evaluationRateDesign" th:text="${evaluationList.rate}"></td>
				<td class="text-center evaluationEvaluationDetailDesign" th:text="${evaluationList.evaluationDetail}"></td>
				<td class="text-center evaluationRegistrationDateDesign" th:text="${#dates.format(evaluationList.registrationDate, 'yyyy-MM-dd ah:mm')}"></td>
			</tr>
		
		</table>
		</div>
	</div>
</body>
</html>