<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>inquryReply</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1>問い合わせ返信</h1>
		</header>
		
		<form method="post" th:action="@{/inquiry}" th:object="${inquiryForm}">
		<table class="table table-hover table-bordered" th:each="inquirydto : ${inquiryList}">
			<tr>
				 <th class="text-center">問い合わせユーザー</th>
				 <th class="text-center">タイトル</th>
				 <th class="text-center">内容</th>
				 <th class="text-center">問い合わせ日時</th>
				  
			</tr>
			
			<tr>
				<th class="text-center" th:text="${inquirydto.userName}"></th>
				<th class="text-center" th:text="${inquirydto.title}"></th>
				<th class="text-center" th:text="${inquirydto.content}"></th>
				<th class="text-center" th:text="${inquirydto.registrationDate}"></th>
			</tr>
		</table>
		
		<h3>返信内容</h3>
		<table class="table table-hover table-bordered" th:each="inquirydto : ${inquiryList}">
			<tr>
				
				 <th class="text-center">タイトル</th>
				 <th class="text-center">内容</th>

			</tr>
			
			<tr>
			
				<th class="text-center"><input type="text" class="form-control" th:field="*{title}"></th>
				<th class="text-center"><input type="text" class="form-control" th:field="*{content}"></th>
				
			</tr>
			
		</table>
		<button class="btn btn-primary" name="return">返信する</button>
		</form>
	</div>
</body>
</html>