<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>inquryReply</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">問い合わせ返信</h1>
		</header>
		
		<form method="post" th:action="@{/inquiry}" th:object="${inquiryReplyForm}">
		<table class="table table-bordered inquiryReplyTableDesign" th:each="inquirydto : ${inquiryList}">
			<tr class="inquiryReplyThDesign">
				 <th class="text-center">問い合わせユーザー</th>
				 <th class="text-center">タイトル</th>
				 <th class="text-center">内容</th>
				 <th class="text-center">問い合わせ日時</th>
				  
			</tr>
			
			<tr class="inquiryReplyTdDesign">
				<th class="text-center" th:text="${inquirydto.userName}"></th>
				<th class="text-center" th:text="${inquirydto.title}"></th>
				<th class="text-center" th:text="${inquirydto.content}"></th>
				<th class="text-center" th:text="${#dates.format(inquirydto.registrationDate,'yyyy/MM/dd ah:mm')}"></th>
			</tr>
		</table>
		
		<h3>返信内容</h3>
		<table class="table table-bordered inquiryReplyNextTableDesign">
		
				<tr>
					<th class="text-center inquiryReplyNextThDesign">タイトル</th>
					<td th:classappend="${#fields.hasErrors('title')}?'has-error'"
						class="form-group inquiryReplyNextTdDesign"><input type="text" class="form-control"
						th:field="*{title}"><span class="text-danger"
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title
							error</span></td>
				</tr>
			
			
			<tr>
					<th class="text-center inquiryReplyNextThDesign">内容</th>
					<td th:classappend="${#fields.hasErrors('content')}?'has-error'"
						class="form-group inquiryReplyNextTdDesign"><input type="text" class="form-control"
						th:field="*{content}"><span class="text-danger"
						th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content
							error</span></td>
				</tr>
		</table>
		
		
		<input type="hidden" name="id" th:value="${inquiryId}">
		<button class="btn btninquiryReply-border inquiryReplyBtn" name="return">返信する</button>
		</form>
	</div>
</body>
</html>