<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<h1 class="titleDesign">交換商品管理</h1>
		
		<div class="flex purHisTable" style="width: 1100px;">
			<div class="item" th:each="gachaPointProductHistoryList : ${gachaPointProductHistoryList}">
				<form>
					<img class="size" th:src="${gachaPointProductHistoryList.img}">
					<h5 class="card-title purHisfontdesign"
						th:text="'購入日：' + ${#dates.format(gachaPointProductHistoryList.purchaseDate, 'yyyy/MM/dd HH:mm')}"></h5>
					<p class="card-title purHisfontdesign"
						th:text="'購入者：' + ${gachaPointProductHistoryList.userName}"></p>
					<p class="card-title purHisfontdesign"
						th:text="'発送先住所：' + ${gachaPointProductHistoryList.Address}"></p>
					<p class="card-title purHisfontdesign"
						th:text="'商品名：' + ${gachaPointProductHistoryList.title}"></p>
					<a th:if="${gachaPointProductHistoryList.deliveryCheck} == '発送前'" th:href="@{/interChangeProductDeliveryProcedureOK} + '/' + ${gachaPointProductHistoryList.id}" class="text-center deliveryProcedureOK interChangeProductdeliveryProcedure">発送後押す</a>
					<h4 class="text-danger text-center" th:if="${gachaPointProductHistoryList.deliveryCheck} == '発送済み'"><a>発送済</a></h4>
			</div>
			
		</div>
		
		
	</div>
</body>
</html>