<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">講座評価</h1>
		</header>

		<h3>お疲れ様でした。講座が終了したので評価をお願いします。(教師の態度や講座の質などの総合的な評価をお願いします。)</h3>
		<form method="post" th:action="@{/lessonEvaluation}"
			th:object="${lessonEvaluationForm}">
			<input type="hidden" name="id" th:value="${productId}">
			<table class="table table-hover table-bordered lessonEvaluationTable">

				<tr>
					<th class="text-center lessonEvaluationTh">評価</th>
					<td class="text-center lessonEvaluationTd">
						<div class="text-center form-group"
							th:classappend="${#fields.hasErrors('rating')} ? 'hasError'">
							<select th:field="*{rating}">
								<option value="4">4(素晴らしい)</option>
								<option value="3">3(良い)</option>
								<option value="2">2(普通)</option>
								<option value="1">1(悪い)</option>
							</select>
						</div> <span class="text-danger" th:if="${#fields.hasErrors('rating')}"
						th:errors="*{rating}">rating error</span>
					</td>
				</tr>

				<tr>
					<th class="text-center lessonEvaluationTh">詳細</th>
					<td
						th:classappend="${#fields.hasErrors('evaluationDetail')}?'has-error'"
						class="form-group lessonEvaluationTd"><input type="text" class="form-control"
						th:field="*{evaluationDetail}"> <span class="text-danger"
						th:if="${#fields.hasErrors('evaluationDetail')}"
						th:errors="*{evaluationDetail}">evaluationDetail error</span></td>
				</tr>
			</table>
			<script type="text/javascript">
				(function($) {
					$(function() {
						$("#slider").simplyScroll();
					});
				})(jQuery);
			</script>

			<!-- 
  <ul id="slider">
    <li>
     <img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
    </li>
    <li>
      <img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
    </li>
    <li>
      <img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
    </li>
    <li>
     <img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
    </li>
    <li>
      <img class="guidancePersonImgSize" th:src="@{/css/javaicon.png}">
    </li>   
  </ul>
		 -->
			<button class="btn lessonEvaluationBtn">投稿</button>
		</form>
	</div>

	<script th:src="@{/js/jquery.simplyscroll.js}"></script>

</body>
</html>
