<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">場所確認</h1>
		</header>

		

		<!-- Maps JavaScript API(地図)、Places API(入力場所検索ボックス)のapiキー作成し埋め込み　ロード時動作 -->
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6gVVngdDmxOTy4il-r0utj51VfO0fRqw&libraries=places&callback=initMap&initAutocomplete&libraries=places&v=weekly"
			async>
		</script>


		<!-- jsファイルアクセス -->
		<script th:src="@{/js/MapsJavaScriptCurrentLocationSearch.js}">
			
		</script>

		<script th:src="@{/js/MapsJavaScriptGetAPI.js}">
			
		</script>

		<script th:src="@{/js/MapsJavaScriptApiSearchBox.js}">
			
		</script>

		
		<!-- 現在位置取得機能機能 -->
		<table class="table table-bordered locationConfirmationTable">
		
			<tr class="locationConfirmationTrOn">
				<th class="text-center">現在位置を取得して表示します</th>
				<th class="text-center">検索機能は現在ご利用できません</th>
				<th class="text-center">GoogleMapに行く</th>
				<th class="text-center">講座会場</th>
			
			</tr>
		
			<tr class="locationConfirmationTrButtom">
				<td onclick="getMyPlace()" class="text-center"><button class="btn locationConfirmationbBtnSolid"><span>現在位置を取得</span></button></td>
				<td class="text-center"><input id="pac-input" class="controls" type="text"
				placeholder="Search Box"></td>
				<td class="text-center"><a th:href="@{https://www.google.co.jp/maps/?hl=ja}">googleMap</a></td>
				<td class="text-center" th:text="${location}"></td>
			</tr>
		
		</table>
		
		
		<div id="result"></div>
		
		<div id="map"></div>


		<script>
			$(function() {

				$('.submit').attr('disabled', 'disabled');

				$('#agree').on('click', function() {
					if ($(this).prop('checked') == false) {
						$('.submit').attr('disabled', 'disabled');
					} else {
						$('.submit').removeAttr('disabled');
					}
				});

			});
		</script>
		<form method="post" th:action="@{/locationConfirmation}">
			<input type="hidden" name="id" th:value="${productId}">
			<div class="btn-wrapper checkDesign">
				<div class="check-box">
					<label><input class="check" type="checkbox" name="check"
						autocomplete="off" id="agree"><span>場所を確認しました。</span></label>
				</div>
				<input class="submit" type="submit" id="submit" value="OK" />
			</div>
		
</form>	</div>

</body>
</html>