<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">会員ランク特典クーポン追加</h1>
		</header>

		<form method="post" th:action="@{/menberCouponAdd}"
			th:object=${menberCouponForm}>

			<table
				class="table table-hover table-bordered menberCouponAddTableDesign">

				<tr>
					<th class="text-center menberCouponAddThDesign">クーポン名</th>
					<td th:classappend="${#fields.hasErrors('title')}?'has-error'"
						class="form-group menberCouponAddTdDesign"><input type="text"
						class="form-control" th:field="*{title}"> <span
						class="text-danger" th:if="${#fields.hasErrors('title')}"
						th:errors="*{title}">title error</span></td>
				</tr>

				<tr>
					<th class="text-center menberCouponAddThDesign">割引パーセント</th>
					<td th:classappend="${#fields.hasErrors('discount')}?'has-error'"
						class="form-group menberCouponAddTdDesign"><input type="text"
						class="form-control" th:field="*{discount}"> <span
						class="text-danger" th:if="${#fields.hasErrors('discount')}"
						th:errors="*{discount}">discount error</span></td>
				</tr>

				<tr>
					<th class="text-center menberCouponAddThDesign">特典付加ランク(入力したランク以上の方に付与)</th>
					<td class="text-center menberCouponAddTdDesign">
						<div class="text-center form-group"
							th:classappend="${#fields.hasErrors('couponRank')}?'has-error'">
							<select th:field="*{couponRank}"><option value="1">アマチュアランク</option>
								<option value="2">プロランク</option>
								<option value="3">ブロンズランク</option>
								<option value="4">シルバーランク</option>
								<option value="5">ゴールドランク</option>
								<option value="6">ダイヤモンドランク</option>
								<option value="7">プラチナランク</option>
								<option value="8">エイリアンランク</option>
								<option value="9">ゴッドフォックスランク</option>
								<option value="10">プレミアムゴッドランク</option>
								<option value="11">InductedIntoTheHalOfFameRank</option>
							</select>
						</div> <span class="text-danger"
						th:if="${#fields.hasErrors('couponRank')}"
						th:errors="*{couponRank}">couponRank error</span>
					</td>
				</tr>




			</table>

			<button
				class="btn btn-radius-solidMenberCouponAdd btn--shadow menberCouponAddBtnDesign">クーポン配布</button>
		</form>

		<script>
			$('.menberCouponAddBtnDesign').click(function() {
				if (confirm('本当にこの内容で配布しますか？')) {

					return true;
				}
				return false;
			});
		</script>

	</div>
</body>
</html>