<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">会員ランク特典クーポン追加</h1>
		</header>
		
		<form method="post" th:action="@{/menberCouponAdd}" th:object=${menberCouponForm}>
		
			<table class="table table-hover table-bordered">
			
				<tr>
					<th class="text-center">クーポン名</th>
					<td th:classappend="${#fields.hasErrors('title')}?'has-error'"
						class="form-group"><input type="text" class="form-control"
						th:field="*{title}"> <span class="text-danger"
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title
							error</span></td>
				</tr>
				
				<tr>
					<th class="text-center">割引パーセント</th>
					<td th:classappend="${#fields.hasErrors('discount')}?'has-error'"
						class="form-group"><input type="text" class="form-control"
						th:field="*{discount}"> <span class="text-danger"
						th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}">discount
							error</span></td>
				</tr>
				
				<tr>
					<th class="text-center">特典付加ランク(入力したランク以上の方に付与)</th>
					<td th:classappend="${#fields.hasErrors('couponRank')}?'has-error'"
						class="form-group"><input type="text" class="form-control"
						th:field="*{couponRank}"> <span class="text-danger"
						th:if="${#fields.hasErrors('couponRank')}" th:errors="*{couponRank}">couponRank
							error</span></td>
				</tr>
				
		
				
			
			</table>
			
			<button class="btn btn-primary" name="distribution">クーポン配布</button>
		</form>
		
		
		
	</div>
</body>
</html>