<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>newsAdd</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<h1 class="titleDesign">お知らせ追加</h1>

		<form method="post" th:action="@{/newsAdd}" th:object="${newsForm}">
			<table class="table table-bordered table-hover newsAddTableDesign">

				<tr>
					<th class="text-center newsAddThDesign">タイトル</th>
					<td class="newsAddTdDesign">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('title')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{title}">
						</div> <span class="text-danger" th:if="${#fields.hasErrors('title')}"
						th:errors="*{title}">title error</span>
					</td>
				</tr>
				
				<tr>
					<th class="text-center newsAddThDesign">内容</th>
					<td class="newsAddTdDesign">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('content')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{content}">
						</div> <span class="text-danger" th:if="${#fields.hasErrors('content')}"
						th:errors="*{content}">content error</span>
					</td>
				</tr>
			</table>
			
			<button class="btn btn-radius-solidNewsAdd btn--shadow newsAddBtnDesign">おしらせ投稿</button>
		</form>
		
		<script>
			$('.newsAddBtnDesign').click(function() {
				if (confirm('本当にこの内容で投稿しますか？')) {
					
					return true;
				}
				return false;
			});
			
		</script>
		
	</div>

</body>
</html>