<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">ITworksTRYshoppingポイント利用画面</h1>
		</header>

		<form method="post" th:action="@{/pointUse} + '/' + ${couponId}" th:object="${pointUseForm}">
			<table>
			
			<h3 class="text-center">1ポイント1円として利用できます。現在あるポイント以下で、合計支払金額以下のポイントを利用できます</h3>
			
				<tr>
					<th class="text-center">現在のITworksTRYshoppingポイント</th>
					<td class="text-center" th:text="${point} + 'ポイント保持'"></td>
					<th class="text-center">合計支払金額</th>
					<td class="text-center" th:text="${totalPrice} + '円'"></td>
				</tr>

				<tr>
					<th class="text-center">利用ポイント</th>
					<td th:classappend="${#fields.hasErrors('pointUse')}?'has-error'"
						class="form-group"><input type="text" class="form-control"
						th:field="*{pointUse}"> <span class="text-danger"
						th:if="${#fields.hasErrors('pointUse')}" th:errors="*{pointUse}">pointUse
							error</span></td>
				</tr>

			</table>
			
			<button class="text-center btn btn-primary">入力分のポイントを使用</button>
		</form>
	</div>

</body>
</body>
</html>