<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">ITworksTRYshoppingポイント利用確認画面</h1>
		</header>

		<form method="get" th:action="@{/pointUseClearing} + '/' + ${couponId}">
		<table>
			<tr>
				<th class="text-center">利用するポイント</th>
				<td class="text-center" th:text="${pointUse} + 'ポイント'"></td>
			</tr>
			
			<tr>
				<th class="text-center">利用後残るポイント</th>
				<td class="text-center" th:text="${point} + 'ポイント'"></td>
			</tr>
			
			<tr>
				<th class="text-center">ポイント利用後に支払う金額</th>
				<td class="text-center" th:text="${pointUseAfterPrice} + '円'"></td>
			</tr>

		</table>
		
		<input type="hidden" name="pointUse" th:value="${pointUse}">
		<button class="text-center btn btn-primary">ポイントを利用</button>
</form>
	</div>
</body>
</html>