<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">ITworksTRYshoppingポイント利用確認画面</h1>
		</header>

		<form method="get"
			th:action="@{/pointUseClearing} + '/' + ${couponId}">
			<table class="table table-bordered pointUseTableDesign">
				<tr>
					<th class="text-center pointUseThDesign">利用するポイント</th>
					<td class="text-center pointUseTdDesign"
						th:text="${pointUse} + 'ポイント'"></td>
				</tr>

				<tr>
					<th class="text-center pointUseThDesign">利用後残るポイント</th>
					<td class="text-center pointUseTdDesign"
						th:text="${point} + 'ポイント'"></td>
				</tr>

				<tr>
					<th class="text-center pointUseThDesign">ポイント利用後に支払う金額</th>
					<td class="text-center pointUseTdDesign"
						th:text="${pointUseAfterPrice} + '円'"></td>
				</tr>

			</table>

			<input type="hidden" name="pointUse" th:value="${pointUse}">
			<button
				class="text-center btn btnPU--red btnPu--radius btnPU--cubic pointUseNextBtnDesign">ポイントを利用</button>
		</form>
	</div>
</body>
</html>