<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">ITPCworksポイント利用確認画面</h1>
		</header>


		<table>
			<tr>
				<th class="text-center">利用するポイント</th>
				<td class="text-center" th:text="${pointUse}"></td>
			</tr>
			
			<tr>
				<th class="text-center">利用後残るポイント</th>
				<td class="text-center" th:text="${pointUseAfterPoint}"></td>
			</tr>
			
			<tr>
				<th class="text-center">ポイント利用後に支払う金額</th>
				<td class="text-center" th:text="${pointUseAfterPrice}"></td>
			</tr>

		</table>
		
		<a class="text-center btn btn-primary">ポイントを利用</a>

	</div>
</body>
</html>