<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<!-- js読み込み -->
<script src="js/SocialShare.min.js"></script>

<link th:href="@{/css/productListLayout.css}" rel="stylesheet"></link>
<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<link th:href="@{/css/clearing.css}" rel="stylesheet"></link>
<link th:href="@{/css/productDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/confirmation.css}" rel="stylesheet"></link>
<link th:href="@{/css/cart.css}" rel="stylesheet"></link>
<link th:href="@{/css/after_purchase.css}" rel="stylesheet"></link>
<link th:href="@{/css/admin.css}" rel="stylesheet"></link>

<title>loginLayout</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid headerDesign">
			<div class="navbar-header col-sm-4">
				<a class="navbar-brand" th:href="@{/productList}"
					title="アプリ名をクリックするとLogin画面に推移します"><i
					class="fa fa-android fa-spin fa-colorLogin fa-size"></i><span
					style="color: #a4f7cb !important; font-size:20px">PCショップYM</span></a>


			</div>
			<div class="col-sm-6">
				<h3 th:text="${session.sessionGetUser_name} + 'さん、こんにちは'"
					style="color: #fff; padding: 0px 0px !important; margin: 6px 0px 0px 70px; font-size: 20px;"></h3>
			</div>

			<div class="col-sm-2">
				<h4 style="margin: 15px 0px !important;">
					<a th:href="@{'/logout'}"><span
						style="color: #ecff96 !important; font-size: 20px;">ログアウト</span></a>
				</h4>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="clearfix"></div>
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a class="btn btn-gradient desiginBtn"th:href="@{/productList}"><span>商品一覧</span></a></li>
					<li class="flexDetail"><a class="btn btn-gradient desiginBtn" th:href="@{/cart}"><span>カート一覧</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" href=""><span>お問い合わせ</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" href=""><span style="font-size:12px;">プライバシーポリシー</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" href=""><span>利用規約</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/purchaseHistory}"><span>商品購入履歴</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" href=""><span>お得な情報・クーポン</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/usersList}"><span style="font-size:12px;">管理者専用画面</span></a></li>

				</ul>
			</div>

			<div class="col-sm-9">
				<div th:include="__${contents}__"></div>
			</div>
		</div>
	</div>
</body>
</html>