<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<!-- アイコン用 -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<!-- js読み込み -->
<script src="js/SocialShare.min.js"></script>

<link th:href="@{/css/productListLayout.css}" rel="stylesheet"></link>
<link th:href="@{/css/productList.css}" rel="stylesheet"></link>
<link th:href="@{/css/clearing.css}" rel="stylesheet"></link>
<link th:href="@{/css/productDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/confirmation.css}" rel="stylesheet"></link>
<link th:href="@{/css/cart.css}" rel="stylesheet"></link>
<link th:href="@{/css/after_purchase.css}" rel="stylesheet"></link>
<link th:href="@{/css/admin.css}" rel="stylesheet"></link>
<link th:href="@{/css/usersList.css}" rel="stylesheet"></link>
<link th:href="@{/css/contactReply.css}" rel="stylesheet"></link>
<link th:href="@{/css/termsOfUse.css}" rel="stylesheet"></link>
<link th:href="@{/css/privacyPolicy.css}" rel="stylesheet"></link>
<link th:href="@{/css/reviewSee.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancel.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelNext.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelDeliveredDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelDeliveredCompleted.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/couponList.css}" rel="stylesheet"></link>
<link th:href="@{/css/purchaseHistory.css}" rel="stylesheet"></link>
<link th:href="@{/css/couponSee.css}" rel="stylesheet"></link>
<link th:href="@{/css/icon.css}" rel="stylesheet"></link>
<link th:href="@{/css/editYour.css}" rel="stylesheet"></link>
<link th:href="@{/css/inquiry.css}" rel="stylesheet"></link>
<link th:href="@{/css/reviewAdd.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelConfirmation.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelCompleted.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelDeliveryComplete.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelDelete.css}" rel="stylesheet"></link>
<link th:href="@{/css/cancelInquiry.css}" rel="stylesheet"></link>
<link th:href="@{/css/InquiryFinish.css}" rel="stylesheet"></link>
<link th:href="@{/css/userRankDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/administrator.css}" rel="stylesheet"></link>
<link th:href="@{/css/usersListDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/reviewDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/pointUse.css}" rel="stylesheet"></link>
<link th:href="@{/css/editYourDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/news.css}" rel="stylesheet"></link>
<link th:href="@{/css/couponAdd.css}" rel="stylesheet"></link>
<link th:href="@{/css/menberCouponAdd.css}" rel="stylesheet"></link>
<link th:href="@{/css/pointRateChange.css}" rel="stylesheet"></link>
<link th:href="@{/css/pointRateChangeFinish.css}" rel="stylesheet"></link>
<link th:href="@{/css/inquiryDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/inquiryReply.css}" rel="stylesheet"></link>
<link th:href="@{/css/newsDetail.css}" rel="stylesheet"></link>


<title>ITworksTRYshopping</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid headerDesign">
			<div class="navbar-header col-sm-4">
			<i th:if="${session.rankPoint} == 'アマチュアランク'" class="fa fa-glass rank1 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'プロランク'" class="fa fa-glass rank2 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'ブロンズランク'" class="fa fa-trophy rank3 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'シルバーランク'" class="fa fa-trophy rank4 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'ゴールドランク'" class="fa fa-trophy rank5 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'ダイヤモンドランク'" class="fa fa-trophy rank6 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'プラチナランク'" class="fa fa-trophy rank7 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'エイリアンランク'" class="fa  fa-drupal rank8 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'ゴッドフォックスランク'" class="fa fa-firefox rank9 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'プレミアムゴッドランク'" class="fa fa-graduation-cap rank10 fa-spin"></i>
			<i th:if="${session.rankPoint} == 'InductedIntoTheHalOfFameRank'" class="fa fa-optin-monster rank11 fa-spin"></i>
			
			
				<a class="navbar-brand" th:href="@{/productList}"
					title="アプリ名をクリックするとLogin画面に推移します"><span
					style="color: #a4f7cb !important; font-size:20px">ITworksTRYshopping</span></a>


			</div>
			<div class="col-sm-6">
				<h3 th:text="${session.sessionGetUser_name} + 'さん、こんにちは'"
					style="color: #fff; padding: 0px 0px !important; margin: 6px 0px 0px 70px; font-size: 20px;"></h3>
			</div>

			<div class="col-sm-2">
				<h4 style="margin: 15px 0px !important;">
					<a th:href="@{'/logout'}"><span
						style="color: #ecff96 !important; font-size: 20px;">ログアウト</span></a>
				</h4>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="clearfix"></div>
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a class="btn btn-gradient desiginBtn topBtn"th:href="@{/productList}"><i class="fa fa-cart-arrow-down"></i><span>商品一覧</span></a></li>
					<li class="flexDetail"><a class="btn btn-gradient desiginBtn" th:href="@{/cart}"><i class="fa fa-cart-plus"></i><span>カート一覧</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/purchaseHistory}"><i class="fa fa-history"></i><span>商品購入履歴</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/couponList}"><i class="fa fa-ticket"></i><span>クーポン情報</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/editYour}"><i class="fa fa-info"></i><span>あなたの情報</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/news}"><i class="fa fa-envelope"></i><span>お知らせ</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/inquiry}"><i class="fa fa-question"></i><span>お問い合わせ</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/privacyPolicy}"><i class="fa fa-eye"></i><span style="font-size:12px;">プライバシーポリシー</span></a></li>
					<li><a class="btn btn-gradient desiginBtn" th:href="@{/termsOfUse}"><i class="fa fa-eye"></i><span>利用規約</span></a></li>
					<li th:if="${session.sessionGetRole} == 'admin'"><a class="btn btn-gradient desiginBtn" th:href="@{/administrator}"><i class="fa fa-cogs"></i><span style="font-size:12px;">管理者専用画面</span></a></li>

				</ul>
			</div>

			<div class="col-sm-9">
				<div th:include="__${contents}__"></div>
			</div>
		</div>
	</div>
</body>
</html>