<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>


<title>admin</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">商品追加</h1>
		</header>
		
		<p th:text="${result}"></p>
		<form method="post" th:action="@{/productAdd}" th:object="${pcDataForm}" class="adminFormDesign">
			<table class="table table-bordered table-hover tableDesign">
				<tr>
					<th class="text-center pcdataAddThDesign">会社名</th>
					<td th:classappend="${#fields.hasErrors('company')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{company}"> <span class="text-danger"
						th:if="${#fields.hasErrors('company')}" th:errors="*{company}">company
							error</span></td>

					<th class="text-center pcdataAddThDesign">OS</th>
					<td th:classappend="${#fields.hasErrors('os')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{os}"> <span class="text-danger"
						th:if="${#fields.hasErrors('os')}" th:errors="*{os}">os
							error</span></td>
				</tr>
				</table>
				<table class="table table-bordered table-hover tableDesign">
				<tr>
					<th class="text-center pcdataAddThDesign">PcName</th>
					<td th:classappend="${#fields.hasErrors('pc_name')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{pc_name}"> <span class="text-danger"
						th:if="${#fields.hasErrors('pc_name')}" th:errors="*{pc_name}">pc_name
							error</span>
					</td>
					<th class="text-center pcdataAddThDesign">画面サイズ</th>
					<td th:classappend="${#fields.hasErrors('pc_size')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{pc_size}"> <span class="text-danger"
						th:if="${#fields.hasErrors('pc_size')}" th:errors="*{pc_size}">pc_size
							error</span></td>
				</tr>
				</table>
				
				<table class="table table-bordered table-hover tableDesign">
				<tr>
					<th class="text-center pcdataAddThDesign">値段</th>
					<td th:classappend="${#fields.hasErrors('price')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{price}"> <span class="text-danger"
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price
							error</span></td>

					<th class="text-center pcdataAddThDesign">その他詳細欄</th>
					<td th:classappend="${#fields.hasErrors('detail')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{detail}"> <span class="text-danger"
						th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">detail
							error</span></td>
				</tr>
				</table>
				
				<table class="table table-bordered table-hover tableDesign">
				<tr>
					<th class="text-center pcdataAddThDesign">在庫数</th>
					<td
						th:classappend="${#fields.hasErrors('product_stock')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{product_stock}"> <span class="text-danger"
						th:if="${#fields.hasErrors('product_stock')}"
						th:errors="*{product_stock}">product_stock error</span></td>

					<th class="text-center pcdataAddThDesign">商品画像1(JPEG形式)</th>
					<td th:classappend="${#fields.hasErrors('pcImg')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{pcImg}"> <span class="text-danger"
						th:if="${#fields.hasErrors('pcImg')}" th:errors="*{pcImg}">pcImg
							error</span>
							<span class="errorFontDesign" th:text="${imgResult1}"></span>
							</td>
				</tr>
				</table>
				
				<table class="table table-bordered table-hover tableDesign">
				<tr>
					<th class="text-center pcdataAddThDesign">商品画像2(JPEG形式)</th>
					<td th:classappend="${#fields.hasErrors('pcImg2')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{pcImg2}"> <span class="text-danger"
						th:if="${#fields.hasErrors('pcImg2')}" th:errors="*{pcImg2}">pcImg2
							error</span>
						<span class="errorFontDesign" th:text="${imgResult2}"></span></td>

					<th class="text-center pcdataAddThDesign">商品画像3(JPEG形式)</th>
					<td th:classappend="${#fields.hasErrors('pcImg3')}?'has-error'"
						class="form-group pcdataAddTdDesign"><input type="text" class="form-control"
						th:field="*{pcImg3}">  <span class="text-danger"
						th:if="${#fields.hasErrors('pcImg3')}" th:errors="*{pcImg3}">pcImg3
							error</span>
						<span class="errorFontDesign" th:text="${imgResult3}"></span>
						</td>
				</tr>
				</table>
			

			<button class="btn btn-radius-solidProductAdd btn--shadow productAddBtnDesign" type="submit">商品追加決定</button>
		</form>
		
		<script>
			$('.productAddBtnDesign').click(function() {
				if (confirm('本当にこの内容で追加しますか？')) {
					
					return true;
				}
				return false;
			});
			
		</script>
	</div>
</body>
</html>