<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>purchaseHistory</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">

		<h1 class="titleDesign">商品購入履歴</h1>

		

			<div class="flex purHisTable" style="width: 1100px;">
				<div class="item" 
			 th:each="purchasedto : ${purchaseList}">
			 <form>
						<img class="size" th:src="${purchasedto.pcImg}">
						<h5  class="card-title purHisfontdesign"
							th:text="'購入日：' + ${#dates.format(purchasedto.purchase_date, 'yyyy/MM/dd HH:mm')}"></h5>
						<p class="card-title purHisfontdesign"
							th:text="'商品名：' + ${purchasedto.pcName}"></p>
						<p  th:if="${purchasedto.couponId} == -1"class="card-title purHisfontdesign"
							th:text="'値段：' + ${purchasedto.totalPrice}"></p>
						<p th:if="${purchasedto.couponId} gt 0" class="card-title purHisfontdesign"
							th:text="'値段：' + ${purchasedto.totalPrice} + '(クーポン適用)'"></p>
						<p class="card-text purHisfontdesign cartmemory"
							style="margin-bottom: 0px !important"
							th:text="'メモリー：' + ${purchasedto.memory}"></p>
						<p class="card-text purHisfontdesign cartharddisc"
							style="margin-bottom: 0px !important"
							th:text="'ハードディスク：' + ${purchasedto.hardDisc}"></p>
						<p class="card-text purHisfontdesign cartcpu"
							style="margin-bottom: 0px !important"
							th:text="'CPU：' + ${purchasedto.cpu}"></p>
						<p class="card-text purHisfontdesign cartcpu"
							style="margin-bottom: 0px !important"
							th:text="'購入数：' + ${purchasedto.product_count}"></p>
						<table>
							<tr>
								<th>
									
									<div class="btn-radius-gradient-wrap">
										
											<a
												th:href="@{'/reviewAdd' + '/' + ${purchasedto.purchaseId}} "
												class="btnA btn-c">口コミを書く</a></div>
											<div
												class="btn-radius-gradient-wrap" th:if="${purchasedto.cancelCheck} == ${confirmationPending} and ${purchasedto.cancelResult} == 'true'"><a
												th:href="@{'/confirmationPending' + '/' + ${purchasedto.purchaseId}} "
												class="btnB btn-d">返品商品確認待ち</a></div>
											<div
												class="btn-radius-gradient-wrap" th:if="${purchasedto.cancelCheck} == ${inTransaction} and ${purchasedto.cancelResult} == 'true'"><a
												 th:href="@{'/cancelInTransaction' + '/' + ${purchasedto.purchaseId}} "
												class="btnB btn-d">キャンセル取引中</a></div>
											<div
												class="btn-radius-gradient-wrap" th:if="${purchasedto.cancelCheck == null} and ${purchasedto.cancelResult} == 'true'"
													><a
												 th:href="@{'/cancel' + '/' + ${purchasedto.purchaseId}} "
												class="btnB btn-d">商品キャンセル</a></div>
											<div th:if="${purchasedto.cancelResult} == 'false'"
												class="text-center">キャンセル期間外</div>
										
									
								</th>
							</tr>
						</table>
					



				</div>
				</form>
			</div>
			</div>
</body>
</html>