<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>reviewSeeDetail</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
	<h1 class="titleDesign" th:text="${pcName} + 'の口コミ編集'"></h1>
	
	<form method="post" th:action="@{/reviewSeeDetail}" >
	<table class="table table-bordered table-hover" th:each="reviewdto : ${reviewList}" style="width:1100px;">
	<br><br>
	<tr>
		<th class="text-center reviewThHength">投稿ユーザー</th>
		<td class="reviewTdHength" th:text="${reviewdto.userName}"></td>
	</tr>
	
	<tr>
		<th class="text-center reviewThHength">レーティング</th>
		<td class="reviewTdHength" th:text="'５段階評価中　' + ${reviewdto.rating}"></td>
	</tr>
	
	<tr>
		<th class="text-center reviewThHength">タイトル</th>
		<td  class="reviewTdHength" th:text="${reviewdto.title}"></td>
	</tr>
	
	<tr>
		<th class="text-center reviewThHength">内容</th>
		<td class="reviewTdHength" th:text="${reviewdto.content}"></td>
	</tr>
	
	<tr>
		<th class="text-center reviewThHength">投稿日時</th>
		<td  th:text="${#dates.format(reviewdto.registrationDate,'yyyy/MM/dd ah:mm')}"></td>
	</tr>
	</table>
	<div  th:each="reviewdto : ${reviewList}">
	<input type="hidden" name="reviewId" th:value="${reviewdto.id}">
	<input type="hidden" name="productId" th:value="${productId}">
	<button class="btn btn-primary" name="delete">口コミ削除</button>
	</div>
	</form>
	</div>

</body>
</html>