<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">


<!-- Bootstrap　 jQuery Bootstrapの読み込み必要がある-->
<!--　cssファイル タイムリーフでファイル読み込み　 -->
<link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>


<title>signup</title>
</head>
<body>

	<div class="col-sm-5">
		<div class="page-header">
			<h1>ユーザー新規登録</h1>
		</div>
		<form method="post" th:action="@{/signup}" th:object="${signupForm}">
			<table class="table table-bordered table-hover">

				<tr>
					<th>ユーザーID</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('user_id')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{user_id}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">user_id error</span>
					</td>
				</tr>

				<tr>
					<th>パスワード</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{password}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
					</td>
				</tr>

				<tr>
					<th>ユーザー名</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('user_name')} ? 'hasError'">
							<input type="text" class="form-control" th:field="*{user_name}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('user_name')}" th:errors="*{user_name}">user_name error</span>
					</td>
				</tr>

				<tr>
					<th>生年月日</th>
					<td>
						<div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'hasError'">
							<input type="date" class="form-control" th:field="*{birthday}">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday error</span>
					</td>
				</tr>



			</table>


		<button class="btn btn-primary" type="submit">ユーザー登録</button>
		</form>
	</div>

</body>
</html>