<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">在庫なし出品停止中商品</h1>
		</header>
		
		<h3 th:text="${subText}"></h3>
		
		<div class="flex productList" style="width: 1100px;">
			<div class="item" th:each="pcdatadto : ${productList}">
				<img class="size" th:src="${pcdatadto.pcImg}">
				<h4 class="card-title text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'商品名：' + ${pcdatadto.pc_name}"></h4>
				<p class="card-text text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'会社名：' + ${pcdatadto.company}"></p>
				<p class="card-text text-center fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'OS：' + ${pcdatadto.os}"></p>
				<p th:if="${pcdatadto.pc_size} neq 0"
					class="card-text text-center fontdesign pcsize"
					style="margin-bottom: 0px !important"
					th:text="'画面サイズ：' + ${pcdatadto.pc_size} + '型'"></p>
				<p th:if="${pcdatadto.pc_size} == 0"
					class="card-text text-center fontdesign pcsize"
					style="margin-bottom: 0px !important" th:text="'画面サイズ： 画面なし'"></p>
				<p class="card-text text-center fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'値段：' + ${pcdatadto.price} + '円'"></p>
				<p class="card-text text-center fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="'在庫数：' + ${pcdatadto.product_stock} + '個'"></p>
				<a class="text-center productListGo"
					th:href="@{/stockInput} + '/' + ${pcdatadto.id}"><span
					class="DetailRyncDesigin text-danger">在庫数入力</span></a>
			</div>
		</div>
		
</body>
</html>