<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">在庫数入力</h1>
		</header>
		<h3>こちらの商品は在庫数0のため、現在は出品されておりません。<br>このフォームで1以上の在庫数を入力することで出品を再開できます。</h3>
		
		<form method="post" th:action="@{/stockInput}" th:object="${stockInputForm}">
		<table class="table stockInput-table">
			<tr class="searchTr">
				<th class=" text-center">在庫数</th>
			</tr>

			<tr>
				<td><input id="textField1" type="text"
					class="form-control text-center formDesign" name="productStock"
					th:field="*{productStock}"> <span
					class="text-danger" th:if="${#fields.hasErrors('productStock')}"
					th:errors="*{productStock}">productStock error</span></td>
			</tr>
		</table>
		<input type="hidden" name="id" th:value="${pcdataId}">
				<td><button class="btn productList-btn-radius-solid productList-btn--shadow stockInput-btn" type="submit" name="search">この在庫数で出品</button></td>
		</form>
	</div>
	
</body>
</html>