<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="productListLayout_contents">
		<table>
			<tr>
				<th><h1 class="titleDesign">落札商品</h1></th>
			</tr>
		</table>
		
		<div class="flex productList" style="width: 1100px;">
			<div class="item" th:each="auctionData : ${auctionDataDTOList}">
				<img class="size" th:src="${auctionData.img}">
				<h4 class="card-title text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'商品名：' + ${auctionData.productName}"></h4>
				<p class="card-text text-center fontdesign"
					style="margin-bottom: 0px !important"
					th:text="'会社名：' + ${auctionData.company}"></p>
				<p class="card-text text-center fontdesign os"
					style="margin-bottom: 0px !important"
					th:text="'OS：' + ${auctionData.os}"></p>
				<p class="card-text text-center fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'開始値段：' + ${auctionData.initialPrice} + '円'"></p>
				<p th:if="${auctionData.tenderPrice} != 0" class="card-text text-center text-danger fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'現最大入札価格：' + ${auctionData.tenderPrice} + '円'"></p>
				<p th:if="${auctionData.tenderPrice} == 0" class="card-text text-center text-danger fontdesign price"
					style="margin-bottom: 0px !important"
					th:text="'現最大入札価格：' + '未入札です'"></p>
				<p class="card-text text-center fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="'在庫数：' + ${auctionData.productStock} + '個'"></p>
				<p class="card-text text-center fontdesign stock"
					style="margin-bottom: 0px !important"
					th:text="'終了日 : ' + ${auctionData.tenderEndDate} + 'になると終了'"></p>
				<a class="text-center productListGo"
					th:href="@{/auctionProductDetail} + '/' + ${auctionData.id}"><span
					class="DetailRyncDesigin">商品詳細へ</span></a>
			</div>
		</div>
		
		
	</div>
	
</body>
</html>