<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">会員ランクの詳細</h1>
		</header>
		
		<table class="table-bordered">
		
			<tr>
				<th>アマチュアランク</th>
				<td><i class="fa fa-glass rank1 rankIconDesign"></i></td>
				<th>ランク特典:なし</th>
				<th>対象者：合計購入金額が50000円未満の方</th>
			</tr>
			
			<tr>
				<th>プロランク</th>
				<td><i class="fa fa-glass rank2 rankIconDesign"></i></td>
				<th>ランク特典:プロランク到達記念クーポン1枚</th>
				<th>対象者：合計購入金額が50000円以上、100000万円未満の方</th>
			</tr>
			
			<tr>
				<th>ブロンズランク</th>
				<td><i class="fa fa-trophy rank3 rankIconDesign"></i></td>
				<th>ランク特典:ブロンズランク到達記念クーポン1枚</th>
				<th>対象者：合計購入金額が100000円以上、200000万円未満の方</th>
			</tr>
			
			<tr>
				<th>シルバーランク</th>
				<td><i class="fa fa-trophy rank4 rankIconDesign"></i></td>
				<th>ランク特典:シルバーランク到達記念クーポン1枚</th>
				<th>対象者：合計購入金額が200000円以上、400000万円未満の方</th>
			</tr>
			
			<tr>
				<th>ゴールドランク</th>
				<td><i class="fa fa-trophy rank5 rankIconDesign"></i></td>
				<th>ランク特典:ゴールド到達記念クーポン2枚</th>
				<th>対象者：合計購入金額が400000円以上、800000万円未満の方</th>
			</tr>
			
			<tr>
				<th>ダイヤモンドランク</th>
				<td><i class="fa fa-trophy rank6 rankIconDesign"></i></td>
				<th>ランク特典:ダイヤモンドランク到達記念クーポン2枚</th>
				<th>対象者：合計購入金額が800000円以上、1000000万円未満の方</th>
			</tr>
			
			<tr>
				<th>プラチナランク</th>
				<td><i class="fa fa-trophy rank7 rankIconDesign"></i></td>
				<th>ランク特典:プラチナランク到達記念クーポン3枚</th>
				<th>対象者：合計購入金額が1000000円以上、1500000万円未満の方</th>
			</tr>
			
			<tr>
				<th>エイリアンランク</th>
				<td><i class="fa  fa-drupal rank8 rankIconDesign"></i></td>
				<th>ランク特典:エイリアンランク到達記念クーポン3枚</th>
				<th>対象者：合計購入金額が1500000円以上、3000000万円未満の方</th>
			</tr>
			
			<tr>
				<th>ゴッドフォックスランク</th>
				<td><i class="fa fa-firefox rank9 rankIconDesign"></i></td>
				<th>ランク特典:ゴッドフォックスランク到達記念クーポン5枚</th>
				<th>対象者：合計購入金額が3000000円以上、5000000万円未満の方</th>
			</tr>
			
			<tr>
				<th>プレミアムゴッドランク</th>
				<td><i class="fa fa-graduation-cap rank10 rankIconDesign"></i></td>
				<th>ランク特典:プレミアムランク到達記念クーポン7枚</th>
				<th>対象者：合計購入金額が5000000円以上、8000000万円未満の方</th>
			</tr>
			
			<tr>
				<th>InductedIntoTheHalOfFameRank</th>
				<td><i class="fa fa-optin-monster rank11 rankIconDesign"></i></td>
				<th>ランク特典:InductedIntoTheHalOfFameRankランク到達記念クーポン10枚</th>
				<th>対象者：合計購入金額が8000000円以上の方</th>
			</tr>
		</table>
		
		
		</div>
</body>
</html>