<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>usersListDetail</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
	<form method="post" th:action="@{/usersList}" th:object="${usersListForm}">
	<h3>ユーザー編集</h3>
	<table class="table table-hover table-bordered usersListDesign" th:each="userslistdto : ${usersDetailList}">
		<tr>
			<th class="text-center">メールアドレス</th>
			<th class="text-center">登録名</th>
			<th class="text-center">生年月日</th>
			<th class="text-center">商品受け取り住所</th>
			
		</tr>
		
		<tr>
			<td class="text-center" th:text="${userslistdto.userId}"></td>
			<td class="text-center" th:text="${userslistdto.userName}"></td>
			<td class="text-center" th:text="${userslistdto.birthday}"></td>
			<td class="text-center" th:text="${userslistdto.address}"></td>
		</tr>
	</table>
		
		<input type="hidden" name="id" th:value="${userId}">
		<button class="btn btn-primary" name="unsubscribe">このユーザーを退会させる</button>
		
	</form>
	</div>
</body>
</html>