<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">会員ランクの詳細</h1>
		</header>
		<div class="userRankTable">
			<table class="table-bordered">

				<tr class="userRankDetailTrHeader">
					<th class="text-center userRankDetailThRank">ランク(全11種)</th>
					<th class="text-center userRankDetailThTitle">称号</th>
					<th class="text-center userRankDetailThPrivilege">ランク特典</th>
					<th class="text-center userRankDetailThTarget">対象者</th>
					<th class="text-center userRankDetailThDistribution">ユーザー分布</th>
				</tr>

				<tr class="userRankDetailTrAmateur">
					<td class="text-center userRankDetailTdRank">アマチュアランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-glass rank1 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">なし</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が50000円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${amateurUser} != 0" th:text="'約' + ${amateurUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${amateurUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrPro">
					<td class="text-center userRankDetailTdRank">プロランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-glass rank2 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">プロランク到達記念クーポン1枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が50000円以上、100000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${proUser} != 0" th:text="'約' + ${proUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${proUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrBronze">
					<td class="text-center userRankDetailTdRank">ブロンズランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-trophy rank3 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">ブロンズランク到達記念クーポン1枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が100000円以上、200000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${bronzeUser} != 0" th:text="'約' + ${bronzeUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${bronzeUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrSilver">
					<td class="text-center userRankDetailTdRank">シルバーランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-trophy rank4 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">シルバーランク到達記念クーポン1枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が200000円以上、400000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${silverUser} != 0" th:text="'約' + ${silverUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${silverUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrGold">
					<td class="text-center userRankDetailTdRank">ゴールドランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-trophy rank5 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">ゴールド到達記念クーポン2枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が400000円以上、800000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${goldUser} != 0" th:text="'約' + ${goldUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${goldUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrDiamond">
					<td class="text-center userRankDetailTdRank">ダイヤモンドランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-trophy rank6 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">ダイヤモンドランク到達記念クーポン2枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が800000円以上、1000000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${diamondUser} != 0" th:text="'約' + ${diamondUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${diamondUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrPlatinum">
					<td class="text-center userRankDetailTdRank">プラチナランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-trophy rank7 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">プラチナランク到達記念クーポン3枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が1000000円以上、1500000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${platinumUser} != 0" th:text="'約' + ${platinumUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${platinumUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrAlien">
					<td class="text-center userRankDetailTdRank">エイリアンランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa  fa-drupal rank8 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">エイリアンランク到達記念クーポン3枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が1500000円以上、3000000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${alienUser} != 0" th:text="'約' + ${alienUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${alienUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrGodFox">
					<td class="text-center userRankDetailTdRank">ゴッドフォックスランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-firefox rank9 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">ゴッドフォックスランク到達記念クーポン5枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が3000000円以上、5000000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${godFoxUser} != 0" th:text="'約' + ${godFoxUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${godFoxUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrPremiumGod">
					<td class="text-center userRankDetailTdRank">プレミアムゴッドランク</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-graduation-cap rank10 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">プレミアムランク到達記念クーポン7枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が5000000円以上、8000000万円未満の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${premiumGodUser} != 0"
						th:text="'約' + ${premiumGodUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${premiumGodUser} == 0" th:text="${goldUser} + '%'"></td>
				</tr>

				<tr class="userRankDetailTrInductedIntoTheHalOfFame">
					<td class="text-center userRankDetailTdRank">InductedIntoTheHalOfFameRank</td>
					<td class="text-center userRankDetailTdTitle"><i
						class="fa fa-optin-monster rank11 rankIconDesign"></i></td>
					<td class="text-center userRankDetailTdPrivilege">InductedIntoTheHalOfFameRankランク到達記念クーポン10枚</td>
					<td class="text-center userRankDetailTdTarget">合計購入金額が8000000円以上の方</td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${inductedIntoTheHalOfFameUser} != 0"
						th:text="'約' + ${inductedIntoTheHalOfFameUser} + '%'"></td>
					<td class="text-center userRankDetailTdDistribution"
						th:if="${inductedIntoTheHalOfFameUser} == 0"
						th:text="${goldUser} + '%'"></td>
				</tr>
			</table>
		</div>


	</div>
</body>
</html>