<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div th:fragment="productListLayout_contents">
		<header>
			<h1 class="titleDesign">会員ランクの詳細</h1>
		</header>
		
		<table class="table-bordered">
		
			<tr>
				<th>アマチュアランク</th>
				<td><i class="fa fa-glass rank1 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>なし</th>
			</tr>
			
			<tr>
				<th>プロランク</th>
				<td><i class="fa fa-glass rank2 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>プロランク到達記念クーポン1枚</th>
			</tr>
			
			<tr>
				<th>ブロンズランク</th>
				<td><i class="fa fa-trophy rank3 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>ブロンズランク到達記念クーポン1枚</th>
			</tr>
			
			<tr>
				<th>シルバーランク</th>
				<td><i class="fa fa-trophy rank4 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>シルバーランク到達記念クーポン1枚</th>
			</tr>
			
			<tr>
				<th>ゴールドランク</th>
				<td><i class="fa fa-trophy rank5 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>ゴールド到達記念クーポン2枚</th>
			</tr>
			
			<tr>
				<th>ダイヤモンドランク</th>
				<td><i class="fa fa-trophy rank6 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>ダイヤモンドランク到達記念クーポン2枚</th>
			</tr>
			
			<tr>
				<th>プラチナランク</th>
				<td><i class="fa fa-trophy rank7 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>プラチナランク到達記念クーポン3枚</th>
			</tr>
			
			<tr>
				<th>エイリアンランク</th>
				<td><i class="fa  fa-drupal rank8 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>エイリアンランク到達記念クーポン3枚</th>
			</tr>
			
			<tr>
				<th>ゴッドフォックスランク</th>
				<td><i class="fa fa-firefox rank9 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>ゴッドフォックスランク到達記念クーポン5枚</th>
			</tr>
			
			<tr>
				<th>プレミアムゴッドランク</th>
				<td><i class="fa fa-graduation-cap rank10 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>プレミアムランク到達記念クーポン7枚</th>
			</tr>
			
			<tr>
				<th>InductedIntoTheHalOfFameRank</th>
				<td><i class="fa fa-optin-monster rank11 rankIconDesign"></i></td>
				<th>ランク特典</th>
				<th>InductedIntoTheHalOfFameRankランク到達記念クーポン10枚</th>
			</tr>
		</table>
		
		
		</div>
</body>
</html>